@import "../../main.scss";


@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
  .main__wrapper {
    .main__view {
      &__img {
        text-align: center;
        position: relative;
        .bg__img.b-type {
          height: 400px;
          width: 100%;
          @include pc-bg-img;
          & .main__view__cp {
            h1 {
              color: $white;
              @include padding(120px, 0px, 0px, 0px);
              @include margin(0px, 0px, 10px, 0px);
            }
            p {
              padding: 5px;
              color: $white;
            }
          }
        }
      }
    }
    .main__content {
      @include margin(0, 0, 30px, 0);
      @include padding(0, 60px, 0, 60px);
      display: flex;
      flex-direction: column;
      .move__btn {
      }
      .shop__list {
        position: relative;
        @include margin(20px, 0px, 20px, 0px);
        & h2 {
          @include pc-ttl;
        }
        & p {
          color: $darkgray;
        }
        & ul.shop__box {
          @include content-box;
          flex-wrap: nowrap;
          overflow: scroll;
          justify-content: start;
        }
        .detail__btn {
          // display: none;
        }
      }
    }
  }
}