@import "../../main.scss";


@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
  .main__wrapper {
    .main__view {
      .searchbox__wrapper {
        display: none;
        form {
          width: 80%;
          margin: 10px auto;
          text-align: center;
          box-sizing: border-box;
          position: relative;
          display: block;
          overflow: hidden;
          border-radius: 50px;
          box-shadow: 1px 1px 2px 1px rgb(180, 180, 180);
          .input__area {
            display: block;
            input {
              height: 50px;
              width: 100%;
              background-color: $white;
              border-radius: 50px;
            }
            input:focus {
              outline: none;
            }
            button {
              height: 50px;
              width: 50px;
              background-color: $plum;
              border-radius: 50px;
              cursor: pointer;
              position: absolute;
              right:0px;
              outline : none;
              i {
                color: $white;
                font-weight:bold;
              }
            }
          }
        }
      }
      &__img {
        text-align: center;
        position: relative;
        .bg__img.b-type {
          height: 400px;
          width: 100%;
          background-size: contain;
          background-repeat: repeat;
          border-radius: 0%;
          & .main__view__cp {
            h1 {
              color: $white;
              padding-top: 120px;
            }
            p {
              padding: 5px;
              color: $white;
            }
          }
        }
      }
    }
    .main__content {
      @include margin(0, 0, 30px, 0);
      @include padding(0, 60px, 0, 60px);
      display: flex;
      flex-direction: column;
      .shop__list {
        position: relative;
        @include margin(20px, 0px, 20px, 0px);
        & h1 {
          @include pc-ttl;
        }
        & p {
          color: $darkgray;
        }
        .detail__btn {
          // display: none;
        }
      }
    }
  }
}