@import "../../main.scss";


@media screen and (min-width: 960px) {
  .wrapper {
    .main__wrapper {
      .review__sheet {
        .review__hd {
          .shop__img {
          }
          .shop__ttl {
            h3 {
            }
          }
        }
        .review__star {
          .review__nav {
            p {
            }
          }
          .score__wrapper {
            .star__box {
              .radio__btn {
                & input {
                  // display: none;
                }
                & label {
                  display: none;
                }
              }
              .star__btn {
                i.fas.fa-star {
                  color: $plum;
                }
                i.far.fa-star {
                  color: $plum;
                  display: none;
                }
              }
            }
          }
          .reset__btn {
          }
        }
        .review__ttl {
          .ttl__label {
          }
          .ttl__form {
          }
        }
        .review__content {
          .content__label {
          }
          .re__text {
          }
          .text__count {
          }
        }
      }
      .review__option {
      }
    }
  }
}