<h1>パスワード再設定の確認メール</h1>

<p>
  <%= link_to edit_password_reset_url(@user.reset_token, email: @user.email) do %>
    <p>パスワード再設定はこちらから</p>
  <% end %>
  <p>パスワード再設定用リンクの有効期限は2時間です。</p>

  <p>このメールに思い当たる節がなければ、そのまま無視してください。</p>
</p>
