<% content_for :css do %>
  <%= stylesheet_link_tag '/assets/shops/show', media: "screen and (max-width: 559px)" %>
  <%= stylesheet_link_tag '/assets/shops/tablet/show_tab', media: "screen and (min-width: 560px) and (max-width: 959px)" %>
  <%= stylesheet_link_tag '/assets/shops/pc/show_pc', media: "screen and (min-width: 960px)" %>
<% end %>

<div class="review__count">
</div>
<div class="review__list">
  <ul class="exist no__exist">
    <li>
      <div class="no__content__msg">
        <h3>まだレビューが投稿されていません</h3>
      <div class="review__link">
        <%= link_to new_shop_reviews_path(@shop) do %>
          <p>最初のレビューを投稿してみましょう！</p>
        <% end %>
      </div>
      </div>
    </li>
  </ul>
</div>