<%# 現在地から探すボタンをクリックした時のページ %>
<div class="wrapper">
  <div class="main__wrapper">
    <div class="main__view">
      <div class="search__box">
        <form action="" method="post">
          <input type="search" placeholder="キーワード">
        </form>
      </div>
      <div class="main__img">
        <div class="bg__img"></div>
      </div>
      <div class="main__cp">
        <div class="main__ttl">
          <h1>近場であなたの望むスポットを。</h1>
        </div>
        <div class="main__read">
          <p>私がピアノの前に立つと、皆が笑いました。でも、私がピアノを引き始めると...</p>
        </div>
      </div>
    </div>
    <div class="main__content">
      <h1>地域から探す</h1>
      <div class="content__list">
        <ul>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="content">
                </div>
                <div class="content__cp">
                  <h2>金沢市</h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <h1>条件から探す</h1>
      <div class="content__list">
        <ul>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2>ファミリー向け</h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2>ビジネスシーンで</h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2>インスタ映え</h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <a href="">リストを全て表示</a>
      </div>
      <h1>観光に便利なロケーション</h1>
      <div class="content__list">
        <ul>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2>お店1</h2>
                  <p>hogehoge, ho-gesho-.hohogege!</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <a href="">リストを全て表示</a>
      </div>
      <h1>悠久の時を感じる旅館</h1>
      <div class="content__list">
        <ul>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <a href="">リストを全て表示</a>
      </div>
    </div>
  </div>
</div>
