<div class="wrapper">
  <div class="main__wrapper">
    <div class="ggrmap__wrapper">
      <div class="ggrmap">
        <form action="" method="post">
          <input type="search" placeholder="キーワード">
        </form>
      </div>
    </div>
    <div class="content__view">
      <div class="hit__export">
        <h2>100件以上の検索結果</h2>
      </div>
      <div class="content__list">
        <ul class="content__box">
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="other__list">
        <h1>その他の条件</h1>
        <ul class="other__content">
          <a href="">
            <li>
              <div class="content__wrapper">
                <div class="content__img">
                  <img src="" alt="Content">
                </div>
                <div class="content__cp">
                  <h2></h2>
                </div>
              </div>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>