<body>
  <div class="wrapper">
    <header>
      <div class="hd__wrapper">
        <div class="hd__logo">
          <a href="">
            <img src="" alt="header-logo">
          </a>
        </div>
        <div class="hd__serach__box">
          <form action="" method="post">
            <input type="search" placeholder="行き先はどちらですか？">
          </form>
        </div>
        <div class="hd__nav">
          <ul>
            <li>
              <a href="">
              </a>
            </li>
            <li>
              <a href="">
              </a>
            </li>
          </ul>
        </div class="hd__nav">
      </div>
    </header>
    <div class="main__wrapper">
      <div class="main__view">
        <div class="searchbox__wrapper">
          <form action="" method="post">
            <input type="search" placeholder="キーワード">
          </form>
        </div>
        <div class="main__view--image">
          <img src="bg_image4.jpeg" alt="しばらくお待ちください">
          <button>
            <a href="#">現在地から探す</a>
          </button>
        </div>
      </div>
      <div class="main__content">
        <h1>カテゴリから探す</h1>
        <div class="content__list">
          <ul class="content__box">
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1>グルメ</h1>
                    <p>ユニークなカフェから年季を感じるお食事処まで</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1>ショッピング・お土産</h1>
                    <p>その地ゆかりのお土産で、地域を超えた繋がりを。</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1>ホテル・宿泊</h1>
                    <p>老舗旅館やらホテルやら、いろいろあります！</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1>インスタ映え・観光スポット</h1>
                    <p>フロートライトな味わい！</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1>イベント</h1>
                    <p>今を楽しむ、イベントの数々！</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1></h1>
                    <p></p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="content__list">
          <h1>エリアから探す</h1>
          <p>範囲を絞って検索できます！</p>
          <a href="">すべて表示</a>
          <ul class="content__box">
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1>金沢市</h1>
                    <p>金沢市付近のガイドブック</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1></h1>
                    <p></p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="content__list">
          <h1>特集</h1>
          <p>ガイドブックならではの特集を皆様にお届けします！</p>
          <a href="">すべて表示</a>
          <ul class="content__box">
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1>冬の代名詞</h1>
                    <p>札幌雪まつり！みんなで花札しよう！</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1>インスタ映え間違いなし！オススメスポット109選！</h1>
                    <p>ハッシュのキーと値をつけて投稿しよう！Let's Rails!</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1>最近キテるラーメン屋さん特集</h1>
                    <p>ラーメンと言えば、秒速4.5cmで麺が伸びますが、今回は麺が伸びるスピードよりも早く人気が伸びているラーメン屋さんをご紹介します！</p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h1></h1>
                    <p></p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="ft__wrapper">
        <div class="ft__nav">
          <ul>
            <li>
              <a href=""></a>
            </li>
            <li>
              <a href=""></a>
            </li>
            <li>
              <a href=""></a>
            </li>
            <li>
              <a href=""></a>
            </li>
            <li>
              <a href=""></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</body>