<div class="wrapper">
  <div class="main__wrapper shop__page__wrapper">
    <div class="shop__page">
      <div class="shop__view">
        <div class="shop__img">
          <img src="" alt="hogehoge">
        </div>
        <div class="shop__event">
          <div class="shere__btn">
            <a href="">
              <i class="fas fa-upload"></i>
            </a>
          </div>
          <div class="like__btn">
            <a href="">
              <i class="far fa-heart"></i>
            </a>
            <a href="">
              <i class="fas fa-heart"></i>
            </a>
          </div>
        </div>
        <div class="img__move__btn">
          <a href="">
            <li></li>
          </a>
          <a href="">
            <li></li>
          </a>
          <a href="">
            <li></li>
          </a>
        </div>
      </div>
      <div class="shop__info">
        <div class="shop__info__profile">
          <div class="shop__about">
            <div class="shop__review">
              <i class="fas fa-star"></i>
              <span></span>
            </div>
            <div class="shop__tag">
              <i class="fas fa-tag"></i>
              <span></span>
            </div>
          </div>
          <div class="shop__name">
            <h2>ノックス・オーバーストリート</h2>
          </div>
          <div class="shop__ggrmap">
            <div class="ggrmap__link">
              <p>エリア</p>
              <a href=""></a>
            </div>
          </div>
          <div class="shop__address">
            <i class="fas fa-map-marker-alt"></i>
            <p>住所</p>
            <span>イギリス ウィンチェスター 4800-723</span>
          </div>
          <div class="shop__hours">
            <i class="far fa-clock"></i>
            <p>営業時間</p>
            <span></span>
          </div>
          <div class="shop__budget">
            <i class="fas fa-yen-sign"></i>
            <p></p>
            <span></span>
          </div>
        </div>
        <div class="shop__info__summary">
          <div class="summary__list">
            <ul class="table">
              <li>
                <div class="table__name">
                  <i></i>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <li>
                <div class="table__category">
                  <i></i>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <li>
                <div class="table__phone">
                  <i></i>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <li>
                <div class="table__address">
                  <i></i>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <li>
                <div class="table__booking">
                  <i></i>
                  <p>予約可否</p>
                  <p></p>
                </div>
              </li>
              <li>
                <div class="table__time">
                  <i></i>
                  <p>営業時間・定休日</p>
                  <div class="time-info">
                    <h4>営業時間</h4>
                    <p></p>
                  </div>
                  <div class="rest-info">
                    <h4>定休日</h4>
                    <p></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="table__budget">
                  <i></i>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <li>
                <div class="table__payment">
                  <i></i>
                  <p>支払い方法</p>
                  <div class="credit">
                    <p>クレジットカード可能</p>
                    <p>Visa/JCB/AMEX/Master</p>
                  </div>
                  <div class="ele-pay">
                    <p>電子マネー不可</p>
                    <p></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="shop__info__usp">
          <div class="shop__cp">
            <div class="shop__read">
              <h1>個室あり リーズナブルな価格で楽しめるモダンなイタリアンレストラン</h1>
              <p>この世には、二種類の男しかいない。俺か、俺以外か。</p>
            </div>
          </div>
        </div>
        <div class="shop__info__amenity">
          <h2></h2>
          <div class="amenity__detail">
            <div class="amenity__list">
              <p></p>
              <i></i>
            </div>
            <div class="amenity__list">
              <p></p>
              <i></i>
            </div>
            <div class="amenity__list">
              <p></p>
              <i></i>
            </div>
          </div>
          <div class="detail__btn">
            <a href="" class="detail">
              <span><i></i></span>
            </a>
          </div>
        </div>
        <div class="shop__info__sns">
          <h1>お店の関連情報</h1>
          <div class="sns__link">
            <p>ホームページ</p>
            <a href="">リンク</a>
          </div>
          <div class="sns__link">
            <div class="facebook">
              <i></i>
              <p></p>
              <a href=""></a>
            </div>
            <div class="instagram">
              <i></i>
              <p></p>
              <a href=""></a>
            </div>
            <div class="twitter">
              <i></i>
              <p></p>
              <a href=""></a>
            </div>
          </div>
          <div class="phone__num">
            <i class="fas fa-phone-alt"></i>
            <p></p>
          </div>
        </div>
      </div>
      <div class="review__box">
        <i></i>
        <p></p>
        <p></p>
        <p>件のレビュー</p>
        <div class="review">
          <ul>
            <li>
              <div class="review__header">
                <div class="user__profile">
                  <img src="" alt="">
                  <h4></h4>
                  <div class="review__date">
                    <p>6カ月前</p>
                  </div>
                </div>
                <div class="review__contents">
                  <p></p>
                </div>
              </div>
            </li>
            <li>
              <div class="review__header">
                <div class="user__profile">
                  <img src="" alt="">
                  <h4></h4>
                  <div class="review__date">
                    <p>2カ月前</p>
                  </div>
                </div>
                <div class="review__contents">
                  <p></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="detail__btn">
          <a href="" class="detail">
            <span><i></i></span>
          </a>
        </div>
      </div>
      <div class="shop__other__info">
        <h1>その他の基本情報</h1>
        <div class="">
          <p>予約可否</p>
          <p></p>
        </div>
        <div class="">
          <p></p>
          <p></p>
        </div>
        <div class="">
          <p></p>
          <p></p>
        </div>
      </div>
      <div class="ggrmap__wrapper">
        <h1>エリア</h1>
        <p></p>
        <div class="ggrmap">
          <a href=""></a>
        </div>
      </div>
      <div class="other__list near-event" id="">
        <h1>近くのスポット</h1>
        <p></p>
        <div class="move__btn">
          <div class="btn--left">
            <a href="">
              <i class="fas fa-chevron-left"></i>
            </a>
          </div>
          <div class="btn--right">
            <a href="">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <ul class="post__box">
          <a href="">
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag "" %>
                </div>
                <div class="post__info">
                  <div class="post__info__deco">
                    <div class="post__review">
                      <i class="fas fa-star"></i>
                      <span></span>
                    </div>
                    <div class="post__tag">
                      <i class=""></i>
                      <span></span>
                    </div>
                    <div class="post__tag">
                      <i class=""></i>
                      <span></span>
                    </div>
                  </div>
                  <div class="post__info__basic">
                    <div class="post__name">
                      <h2></h2>
                    </div>
                    <div class="post__about">
                      <div class="post__place">
                        <div class="address">
                          <span></span>
                        </div>
                      </div>
                    </div>
                    <div class="post__budget">
                      <i class="fas fa-yen-sign"></i>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </a>
        </ul>
        <div class="detail__btn">
          <a href="" class="detail">
            <span>すべて表示<i></i></span>
          </a>
        </div>
      </div>
      <div class="other__list" id="">
        <h1>Caming soon</h1>
        <p></p>
        <div class="move__btn">
          <div class="btn--left">
            <a href="">
              <i class="fas fa-chevron-left"></i>
            </a>
          </div>
          <div class="btn--right">
            <a href="">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <ul class="post__box">
          <a href="">
            <li>
              <div class="post__wrapper">
                <div class="post__img">
                  <%= image_tag "" %>
                </div>
                <div class="post__info">
                  <div class="post__info__deco">
                    <div class="post__review">
                      <i class="fas fa-star"></i>
                      <span></span>
                    </div>
                    <div class="post__tag">
                      <i class=""></i>
                      <span></span>
                    </div>
                    <div class="post__tag">
                      <i class=""></i>
                      <span></span>
                    </div>
                  </div>
                  <div class="post__info__basic">
                    <div class="post__name">
                      <h2></h2>
                    </div>
                    <div class="post__about">
                      <div class="post__place">
                        <div class="address">
                          <span></span>
                        </div>
                      </div>
                    </div>
                    <div class="post__budget">
                      <i class="fas fa-yen-sign"></i>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </a>
        </ul>
        <div class="detail__btn">
          <a href="" class="detail">
            <span>すべて表示<i></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>