<div class="wrapper">
  <div class="main__wrapper">
    <div class="content__info">
      <div class="shop__img">
        <img src="" alt="hogehoge">
        <div class="shere__btn">
          <a href="">シェア</a>
        </div>
        <div class="like__btn">
          <a href="">お気に入り</a>
        </div>
        <a href="">
          <li></li>
        </a>
        <a href="">
          <li></li>
        </a>
        <a href="">
          <li></li>
        </a>
      </div>
      <div class="shop__info">
        <div class="shop__info__profile">
          <div class="shop__name">
            <h2>ノックス・オーバーストリート</h2>
          </div>
          <div class="shop__ggrmap">
            <div class="ggrmap__link">
              <p>エリア</p>
              <a href=""></a>
            </div>
          </div>
          <div class="shop__star-count">
            <p></p>
          </div>
          <div class="shop__address">
            <p>住所</p>
            <p>イギリス ウィンチェスター 4800-723</p>
          </div>
          <div class="shop__phone-num">
            <p>電話番号</p>
            <p>0120</p>
          </div>
          <div class="shop__hours">
            <p>営業時間</p>
            <p></p>
          </div>
        </div>
        <div class="shop__usp">
          <div class="shop__cp">
            <h1>個室あり リーズナブルな価格で楽しめるモダンなイタリアンレストラン</h1>
            <p>この世には、二種類の男しかいない。俺か、俺以外か。</p>
          </div>
        </div>
        <div class="shop__info__amenity">
          <div>
            <p></p>
            <p></p>
          </div>
          <div>
            <p></p>
            <p></p>
          </div>
          <div></div>
          <div></div>
        </div>
        <div class="shop__info__sns">
          <h1>お店の関連情報</h1>
          <div class="sns__link">
            <p>ホームページ</p>
            <a href="">リンク</a>
          </div>
          <div class="sns__link">
            <p></p>
            <a href=""></a>
          </div>
        </div>
      </div>
      <div class="review__box">
        <h2>レビュー</h2>
        <div class="review">
          <ul>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="shop__other__info">
        <h1>その他の基本情報</h1>
        <div class="">
          <p>予約可否</p>
          <p></p>
        </div>
        <div class="">
          <p></p>
          <p></p>
        </div>
        <div class="">
          <p></p>
          <p></p>
        </div>
      </div>
      <div class="ggrmap__wrapper">
        <h1>エリア</h1>
        <div class="ggrmap">
        GoogleMap!!
        </div>
      </div>
      <div class="other__content">
        <h1>他のお店をもっと見る</h1>
        <div class="content__list">
          <ul class="content__box">
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h2></h2>
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <h1>近くで参加できるイベント</h1>
        <div class="content__list">
          <ul class="content__box">
            <li>
              <a href="">
                <div class="content__wrapper">
                  <div class="content__img">
                    <img src="" alt="Content">
                  </div>
                  <div class="content__cp">
                    <h2></h2>
                    <h3></h3>
                    <p></p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>