@import "../main.scss";

@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .wrapper {
    .main__wrapper {
      padding-top: 80px;
      .ggrmap__back {
        display: none;
        .ggrmap {
          background-color: $green;
          height: 600px;
          form#search-form {
            .input__area {
              input {
              }
              button {
                i.fas.fa-search {
                }
              }
            }
          }
        }
      }
      .result__wrapper {
        @include padding(0, 20px, 0, 20px);
        .result__group {
          background-color: $white;
          z-index: 3;
          .result--icon {
            height: 30px;
            text-align: center;
            i.fas.fa-angle-down {
            }
          }
          .result__export {
            height: 50px;
            border-radius: 20px 20px 0 0;
            text-align: center;
            @include margin(0, 0, 20px, 0);
            p {
              width: 300px;
              display: inline-block;
              @include padding(0, 0, 20px, 0);
              border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
            }
          }
          .post__list.result-top {
            h1 {
              @include mobile-ttl;
            }
            p {
            }
            & .move__btn {
              display: none;
            }
            ul.shop__box {
              @include content-box;
              overflow: scroll;
              // flex-wrap: wrap;
              @include margin(15px, 0, 0, 0);
              justify-content: start;
              a {
                @include link;
                @include margin(10px, 10px, 10px, 10px);
                li {
                  height: 250px;
                  width: 250px;
                  border-radius: 20px;
                  margin-bottom: 10px;
                  .shop__wrapper {
                    height: 100%;
                    .shop__img {
                      height: 65%;
                      img {
                        border-radius: 20px 20px 0 0;
                        height: 100%;
                        width: 100%;
                      }
                    }
                    .shop__info {
                      &__deco {
                        display: flex;
                        .shop__review {
                          i.fas.fa-star {
                            color: $plum;
                          }
                          span {
                          }
                        }
                        .shop__tag {
                          i {
                          }
                        }
                      }
                      &__basic {
                        overflow: hidden;
                        .shop__name {
                          h2 {
                            font-size: 1rem;
                          }
                        }
                        .shop__about {
                          display: flex;
                          align-items: baseline;
                          .shop__place {
                            .address {
                              @include word-el;
                              span {
                              }
                            }
                          }
                        }
                        .shop__budget {
                          span {
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            & .detail__btn {
              display: none;
              a.detail {
                span {
                  i {
                  }
                }
              }
            }
          }
          .other__list.category {
            h1 {
              @include mobile-ttl;
            }
            p {
            }
            & .move__btn {
              display: none;
            }
            & ul.content__box {
              @include content-box;
              @include margin(10px, 0, 20px, 0);
              overflow: scroll;
              a {
                @include link;
                margin: 10px 5px;
                li {
                  height: 130px;
                  width: 130px;
                  @include flame;
                  .content__wrapper {
                    height: 100%;
                    .content__img {
                      height: 70%;
                      img {
                        border-radius: 20px 20px 0 0;
                        height: 100%;
                        width: 100%;
                      }
                    }
                    .content__cp {
                      @include padding(5px, 5px, 5px, 5px);
                      text-align: center;
                      h2 {
                        font-size: 1.0rem;
                      }
                      p {
                        color: $darkgray;
                        padding: 2px;
                      }
                    }
                  }
                }
              }
            }
          }
          .other__list {
            position: relative;
            @include margin(20px, 12px, 20px, 12px);
            & h1 {
              @include mobile-ttl;
            }
            & p {
              color: $darkgray;
            }
            & .move__btn {
              display: none;
            }
            & ul.post__box {
              @include content-box;
              @include margin(10px, 0, 20px, 0);
              overflow: scroll;
              a {
                @include link;
                margin-top: 10px;
                margin-right: 5px;
                margin-bottom: 10px;
                margin-left: 5px;
                li {
                  @include main-list;
                  .post__wrapper {
                    height: 100%;
                    .post__img {
                      height: 65%;
                      img {
                        border-radius: 20px 20px 0 0;
                        height: 100%;
                        width: 100%;
                      }
                    }
                    .post__info {
                      @include padding(5px, 0, 3px, 5px);
                      &__deco {
                        display: flex;
                        .post__review {
                          i.fas.fa-star {
                            color: $plum;
                          }
                          span {
                          }
                        }
                        .post__tag {
                          i {
                          }
                        }
                      }
                      &__basic {
                        .post__name {
                          h2 {
                            font-size: 1rem;
                          }
                        }
                        .post__about {
                          display: flex;
                          .post__place {
                            .address {
                              @include word-el;
                              span {
                                color: $darkgray;
                                padding: 2px;
                              }
                            }
                          }
                        }
                        .post__budget {
                          i.fas.fa-yen-sign {
                          }
                          span {
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .other__list {
            h1 {
            }
            p {
            }
            ul.post__box {
              @include content-box;
              a {
                li {
                  .post__wrapper {
                    .post__img {
                    }
                    .post__info {
                      &__deco {
                        display: flex;
                        .post__review {
                          i.fas.fa-star {
                            color: $plum;
                          }
                          span {
                          }
                        }
                        .post__tag {
                          i {
                            
                          }
                        }
                      }
                      &__basic {
                        .post__name {
                          h2 {
                          }
                        }
                        .post__about {
                          .post__place {
                            .address {
                              span {
                              }
                            }
                          }
                        }
                        .post__budget {
                          i.fas.fa-yen-sign {
                          }
                          span {
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .post__list.result-all {
            @include margin(20px, 12px, 20px, 12px);
            h1 {
              @include mobile-ttl;
            }
            p {
            }
            & .move__btn {
              display: none;
            }
            ul.post__box {
              @include content-box;
              @include margin(10px, 0, 20px, 0);
              display: block;
              overflow: scroll;
              a {
                @include link;
                @include margin(10px, 5px, 10px, 5px);
                li {
                  height: 250px;
                  width: 250px;
                  border-radius: 20px;
                  margin-bottom: 10px;
                  .post__wrapper {
                    height: 100%;
                    .post__img {
                      height: 65%;
                      img {
                        border-radius: 20px 20px 0 0;
                        height: 100%;
                        width: 100%;
                      }
                    }
                    .post__info {
                      &__deco {
                        display: flex;
                        .post__review {
                          i.fas.fa-star {
                            color: $plum;
                          }
                          span {
                          }
                        }
                        .post__tag {
                          i {
                          }
                        }
                      }
                      &__basic {
                        .post__name {
                          h2 {
                            @include mobile-ttl;
                          }
                        }
                        .post__about {
                          display: flex;
                          .post__place {
                            .address {
                              @include word-el;
                              span {
                              }
                            }
                          }
                        }
                        .post__budget {
                          span {
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            & .detail__btn {
              display: none;
              a.detail {
                span {
                  i {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}