@import "../main.scss";

@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .wrapper {
    .main__wrapper {
      .main__view {
        &__img {
          text-align: center;
          position: relative;
          .bg__img.purpose {
            height: 300px;
            width: 100%;
            @include mobile-bg-img(0px);
            .main__view__cp {
              padding-top: 90px;
              h1 {
                @include mobile-ttl;
                color: $white;
              }
              p {
                @include padding(10px, 10px, 10px, 10px);
                word-break: keep-all;
                color: $white;
              }
            }
          }
        }
      }
      .main__content {
        display: flex;
        flex-direction: column;
        @include margin(10px, 0, 0, 0);
        @include padding( 0, 20px, 0, 20px);
        .content__list#category {
          position: relative;
          @include margin(20px, 12px, 20px, 12px);
          & h2 {
            @include mobile-ttl;
          }
          & p {
            color: $darkgray;
          }
          .move__btn {
            display: none;
          }
          & ul.content__box {
            @include content-box;
            overflow: scroll;
            @include margin(10px, 0, 20px, 0);
            a {
              @include link;
              @include margin(10px, 5px, 10px, 5px);
              li {
                height: 130px;
                width: 130px;
                @include flame;
                .content__wrapper {
                  height: 100%;
                  .content__img {
                    height: 70%;
                    img {
                      border-radius: 20px 20px 0 0;
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .content__cp {
                    @include padding(5px, 5px, 5px, 5px);
                    text-align: center;
                    h3 {
                      font-size: 1.0rem;
                    }
                    p {
                      color: $darkgray;
                      padding: 2px;
                    }
                  }
                }
              }
            }
          }
        }
        .shop__list {
          position: relative;
          @include margin(20px, 12px, 20px, 12px);
          & h2 {
            @include mobile-ttl;
          }
          & p {
            color: $darkgray;
          }
          & .move__btn {
            display: none;
          }
          & ul.shop__box {
            overflow: scroll;
            @include content-box;
            @include margin(10px, 0, 20px, 0);
            a {
              @include link;
              margin-top: 10px;
              margin-right: 5px;
              margin-bottom: 10px;
              margin-left: 5px;
              li {
                @include main-list;
                .shop__wrapper {
                  height: 100%;
                  .shop__img {
                    height: 65%;
                    img {
                      border-radius: 20px 20px 0 0;
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .shop__info {
                    &__deco {
                      display: flex;
                      .post__review {
                        i.fas.fa-star {
                        }
                        span {
                        }
                      }
                      .shop__tag {
                        i {
                        }
                      }
                    }
                    &__basic {
                      .shop__name {
                        h3 {
                          font-size: 1rem;
                        }
                      }
                      .shop__about {
                        display: flex;
                        .shop__place {
                          .address {
                            span {
                              color: $darkgray;
                              padding: 2px;
                            }
                          }
                        }
                      }
                      .shop__budget {
                        span {
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}