@import "../main.scss";


@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .main__wrapper {
    .img__tank {
      @include margin(30px, 0, 30px, 0);
      & ul {
        li {
          .img__wrapper {
            text-align: center;
            img {
              height: 200px;
              width: 300px;
            }
          }
        }
      }
    }
  }
}