@import "../main.scss";

@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  footer {
    .ft__wrapper {
      .ft__nav {
        @include padding(20px, 0px, 20px, 0px);
        background-color: rgba($darkgray, $alpha: 0.3);
        ul.nav__list {
          text-align: center;
          li {
            @include padding(5px, 0px, 5px, 0px);
            .nav__link {
              display: inline-block;
              a {
                @include link;
                color: $darkgray;
              }
            }
            .ft__nav__how {
              a {
                .app__info {
                  p {
                  }
                }
              }
            }
            .ft__nav__rule {
              a {
                .rule {
                  p {
                  }
                }
              }
            }
            .ft__nav__privacy {
              a {
                .privacy {
                  p {
                  }
                }
              }
            }
            .ft__nav__query {
              a {
                .query {
                  p {
                  }
                }
              }
            }
          }
        }
        .copy__write {
          text-align: center;
          @include padding(10px, 0px, 0px, 0px);
          p {
          }
        }
      }
    }
  }
}
