@import "../main.scss";


@media screen and (max-width: 560px) {
  // Mobile用のレスポンシブ
  // トップページのheader
  header {
    .hd__wrapper {
      height: 80px;
      width: 100%;
      display: flex;
      position: fixed;
      z-index: 90;
      box-shadow: 0px 0px 3px 0px #544C59;
      background-color: $white;
      .hd__logo {
        display: none;
        @include margin(0px, 30px, 0px, 30px);
        a {
          img {
            height: 100px;
            width: 20%;
            object-fit: cover;
          }
        }
      }
      .hd__search__box {
        width: 70%;
        @include margin(0, 25px, 0, 0);
        form {
          height: 40px;
          width: 100%;
          border-radius: 50px;
          @include margin(20px, 0, 20px, 10px);
          box-shadow: 0 0 4px 0px $darkgray;
          position: relative;
          .search__form {
            height: 100%;
            width: 100%;
            input {
              height: 100%;
              @include padding(0, 0, 0, 10px);
              outline: none;
              &.area__form {
                display: none;
              }
              &.date__form {
                display: none;
              }
            }
            select {
              display: none;
            }
          }
          .search__btn {
            position: absolute;
            right: 0px;
            button {
              height: 40px;
              width: 40px;
              background-color: $plum;
              border-radius: 50px;
              cursor: pointer;
              outline : none;
              i {
                color: $white;
                font-weight:bold;
                input.btn {
                  display: none;
                }
              }
            }
          }
        }
      }
      .hd__nav {
        line-height: 6.5rem;
        @include margin(0, auto, 0, auto)
        input#menu {
          position: absolute;
          left: -50vw;
          &:checked ~ nav.mobile__nav {
            right: 0px;
          }
          &:checked ~ .back {
            position: absolute;
            height: 100vh;
            width: 100%;
            right: 0%;
            background-color: $white;
            opacity: 0.8;
            transition: all 0.2s;
          }
        }
        label.open {
          height: 100%;
          display: block;
          i.fas.fa-bars {
            @include awesome;
            color: $darkgray;
            font-size: 3rem;
          }
        }
        label.back {
          display: block;
        }
        nav.mobile__nav {
          height: 100vh;
          width: 70%;
          position: absolute;
          transition: all 0.2s;
          right: -100vw;
          background-color: $white;
          @include margin(2px, 0, 0, 0);
          label.close {
            height: 30px;
            width: 50px;
            display: flex;
            @include margin(0, 0, 50px, 0);
            i.fas.fa-times {
              height: 50px;
              width: 50px;
              text-align: center;
              line-height: 50px;
              display: inline-block;
              outline: none;
              color: $darkgray;
              font-size: 2.3rem;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            @include margin(0, 0, 30px, 0);
            li {
              @include margin(0px, 0, 30px, 0px);
              @include padding(0px, 0, 0, 20px);
              height: 30px;
              line-height: 30px;
              a {
                height: 100%;
                @include link($darkgray);
                display: flex;
                .nav__pic {
                  @include margin(0, 10px, 0px, 0px);
                  i {
                    color: $plum;
                    width: 20px;
                  }
                  i.fas.fa-info {
                    @include padding(0, 0, 0, 5px);
                  }
                }
                .nav__link {
                  height: 100%;
                  p {
                    font-weight: bold;
                  }
                }
              }
            }
          }
          ul.common__nav {
            border-bottom: 1px solid rgba($darkgray, $alpha: 0.8)
          }
          ul.sp__nav {
          }
        }
        input#bar_menu {
          display: none;
        }
        label.bar__open {
          display: none;
        }
        label.bar__back {
          display: none;
        }
        nav.pc__nav--bar {
          display: none;
          label.bar__close {
            display: none;
          }
          ul {
            display: flex;
            flex-direction: column;
            @include margin(0, 0, 30px, 0);
            li {
              @include margin(0px, 0, 30px, 0px);
              @include padding(0px, 0, 0, 30px);
              height: 30px;
              line-height: 30px;
              .nav__link {
                height: 100%;
                a {
                  height: 100%;
                  @include link($darkgray);
                  display: inline-block;
                  p {
                    font-weight: bold;
                  }
                }
              }
            }
          }
          ul.common__nav {
            border-bottom: 1px solid rgba($darkgray, $alpha: 0.8)
          }
          ul.sp__nav {
          }
        }
        input#user_menu {
          display: none;
        }
        label.user__open {
          @include margin(0, 30px, 0, 30px);
          display: none;
          i.fas.fa-user-alt {
            font-size: 3rem;
          }
        }
        label.user__back {
          display: none;
        }
        nav.pc__nav--user {
          display: none;
          label.user__close {
          }
        }
      }
    }
  }

  // お店の詳細ページ用のheader
  header {
    .hd__wrapper {
      height: 80px;
      width: 100%;
      display: flex;
      position: fixed;
      z-index: 1;
      box-shadow: 0px 0px 3px 0px #544C59;
      background-color: $white;
      .back__btn {
        a {
          i.fas.fa-times {
          }
        }
      }
      .event__btn {
        width: 100px;
        position: absolute;
        left: 70%;
        top: 3%;
        display: flex;
        a {
          // common
          @include awesome;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: $white;
          opacity: 0.9;
          margin-right: 10px;
          display: block;
          i {
            // common
            margin: 12px;
            color: $darkgray;
          }
        }
        .shere__btn {
          a {
            i.fas.fa-upload {
            }
          }
        }
        .like__btn {
          a {
            i.far.fa-heart {
            }
            i.fas.fa-heart {
            }
          }
        }
      }
    }
  }
}


