@import "../main.scss";


@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  ul.shop__box {
    @include content-box;
    display: block;
    overflow: scroll;
    a {
      @include link;
      @include margin(10px, 10px, 10px, 10px);
      li {
        height: 250px;
        width: 250px;
        border-radius: 20px;
        @include margin(0px, 0px, 10px, 0px);
        .shop__wrapper {
          height: 100%;
          .shop__img {
            height: 65%;
            img {
              border-radius: 20px 20px 0 0;
              height: 100%;
              width: 100%;
            }
          }
          .shop__info {
            &__deco {
              display: flex;
              .shop__review {
                @include margin(0, 10px, 0, 0);
                i.fas.fa-star {
                  color: $plum;
                }
                span {
                  @include mobile-fsz;
                }
              }
              .shop__tag {
                i.fas.fa-tag {
                  color: $darkgray;
                }
              }
            }
            &__basic {
              .shop__name {
                h2 {
                  font-size: 1.0rem;
                }
              }
              .shop__about {
                display: flex;
                .shop__place {
                  .address {
                    @include word-el;
                    span {
                    }
                  }
                }
              }
              .shop__budget {
                span {
                }
              }
            }
          }
        }
      }
    }
  }
}