<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%# <link rel="stylesheet" href="signup.css"> %>
  <title>Widebook | signup</title>
</head>
<body>
  <div class="signup__wrapper">
    <div class="signup__logo">
      <%= link_to  "#" do %>
        <%= image_tag "" %>
      <% end %>
    </div>
    <div class="signup__ttl">
      <h1>サインイン</h1>
    </div>
    <div class="signup__form">
      <form action="#" method="post">
        <input type="text" name="name" placeholder="ニックネーム">
        <input type="email" name="email" placeholder="メールアドレス">
        <input type="password" name="password" placeholder="パスワード">
        <input type="submit" value="登録する">
        <p>アカウントを作成すると、利用規約・プライバシーポリシーに同意したとみなされます。</p>
      </form>
      <div class="signup__form__login">
        <p>すでにアカウントをお持ちですか？</p>
        <a href="#">ログイン</a>
      </div>
    </div>
  </div>
</body>
</html>