<div class="wrapper">
  <div class="main__wrapper">
    <div class="signup__wrapper">
      <div class="signup__logo">
        <%= image_tag "apple_logo.jpeg" %>
      </div>
      <div class="signup__ttl">
        <h1>サインイン</h1>
        <p></p>
      </div>
      <div class="signup__form">
        <form action="#" id="" method="post">
          <div class="input__ttl">
            <i class="fas fa-asterisk"></i>
            <label for="name">Name</label>
          </div>
          <input id="" type="text" name="name" placeholder="ニックネーム">
          <div class="input__ttl">
            <i class="fas fa-asterisk"></i>
            <label for="email">Email</label>
          </div>
          <input id="" type="email" name="email" placeholder="メールアドレス">
          <div class="input__ttl">
            <i class="fas fa-asterisk"></i>
            <label for="password">Password</label>
          </div>
          <input id="" type="password" name="password" placeholder="パスワード">
          <input id="" class="submit" type="submit" value="登録する">
        </form>
        <div class="announce">
          <i class="fas fa-exclamation-circle"></i>
          <p>アカウントを作成すると、
            <a href="">利用規約</a>・<a href="">プライバシーポリシー</a>
            に同意したとみなされます。
          </p>
        </div>
        <div class="signup__form__login">
          <p>すでにアカウントをお持ちですか？</p>
          <div class="login__btn">
            <a href="#">ログイン</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
