@import "../main.scss";

@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .wrapper {
    .main__wrapper {
      padding-top: 80px;
      .ggrmap__back {
        display: none;
        .ggrmap {
          background-color: $green;
          height: 600px;
          form#search-form {
            .input__area {
              input {
              }
              button {
                i.fas.fa-search {
                }
              }
            }
          }
        }
      }
      .result__wrapper {
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;
        .result__group {
          background-color: $white;
          z-index: 3;
          .result--icon {
            height: 30px;
            text-align: center;
            i.fas.fa-angle-down {
            }
          }
          .result__export {
            height: 50px;
            border-radius: 20px 20px 0 0;
            text-align: center;
            margin-bottom: 20px;
            p {
              width: 300px;
              display: inline-block;
              padding-bottom: 20px;
              border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
            }
          }
          .post__list.result-top {
            h1 {
              font-size: 1.5rem;
            }
            p {
            }
            & .move__btn {
              display: none;
            }
            ul.shop__box {
              @include content-box;
              overflow: scroll;
              // flex-wrap: wrap;
              margin-top: 15px;
              justify-content: start;
              a {
                @include link;
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                margin-left: 10px;
                li {
                  height: 250px;
                  width: 245px;
                  border-radius: 20px;
                  margin-bottom: 10px;
                  .shop__wrapper {
                    height: 100%;
                    .shop__img {
                      height: 65%;
                      img {
                        border-radius: 20px 20px 0 0;
                        height: 100%;
                        width: 100%;
                      }
                    }
                    .shop__info {
                      &__deco {
                        display: flex;
                        .shop__review {
                          i.fas.fa-star {
                            color: $plum;
                          }
                          span {
                          }
                        }
                        .shop__tag {
                          i {
                          }
                        }
                      }
                      &__basic {
                        overflow: hidden;
                        .shop__name {
                          h2 {
                            font-size: 1rem;
                          }
                        }
                        .shop__about {
                          display: flex;
                          align-items: baseline;
                          .shop__place {
                            .address {
                              @include word-el;
                              span {
                              }
                            }
                          }
                        }
                        .shop__budget {
                          span {
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            & .detail__btn {
              // display: none;
            }
          }
          .other__list.category {
            h2 {
              @include mobile-ttl;
            }
            & .move__btn {
              display: none;
            }
          }
          .post__list.result-all {
            h1 {
              font-size: 1.5rem;
            }
            p {
            }
            & .move__btn {
              display: none;
            }
            ul.post__box {
              @include content-box;
              display: block;
              overflow: scroll;
              a {
                @include link;
                margin-top: 10px;
                margin-right: 5px;
                margin-bottom: 10px;
                margin-left: 5px;
                li {
                  height: 300px;
                  width: 350px;
                  border-radius: 20px;
                  margin-bottom: 10px;
                  .post__wrapper {
                    height: 100%;
                    .post__img {
                      height: 65%;
                      img {
                        border-radius: 20px 20px 0 0;
                        height: 100%;
                        width: 100%;
                      }
                    }
                    .post__info {
                      &__deco {
                        display: flex;
                        .post__review {
                          i.fas.fa-star {
                            color: $plum;
                          }
                          span {
                          }
                        }
                        .post__tag {
                          i {
                          }
                        }
                      }
                      &__basic {
                        .post__name {
                          h2 {
                            font-size: 1.2rem;
                          }
                        }
                        .post__about {
                          display: flex;
                          .post__place {
                            .address {
                              @include word-el;
                              span {
                              }
                            }
                          }
                        }
                        .post__budget {
                          span {
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            & .detail__btn {
              display: none;
              a.detail {
                span {
                  i {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}