@import "../../main.scss";



@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
  .main__wrapper {
    .img__tank {
      @include margin(30px, 0, 30px, 0);
      & ul {
        li {
          .img__wrapper {
            text-align: center;
            img {
              height: 300px;
              width: 500px;
            }
          }
        }
      }
    }
  }
}