@import "../../main.scss";

@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
  .wrapper {
    .main__wrapper#user__wrapper {
      @include padding(0, 0, 50px, 0);
      .form__wrapper {
        height: 100%;
        .signup__logo {
          height: 130px;
          width: 230px;
          @include margin(30px, auto, 15px, auto);
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        .form__ttl {
          text-align: center;
          @include margin(0px, 0px, 20px, 0px);
          h1 {
            font-size: 1.5rem;
          }
          p {
          }
        }
        .user__info__form {
          .announce {
            height: 30px;
            width: 350px;
            display: flex;
            text-align: center;
            margin: 10px auto;
            i.fas.fa-exclamation-circle {
              color: $plum;
            }
            p {
              font-size: 1rem;
              line-height: 20px;
              a {
                text-decoration: none;
              }
            }
          }
          .other__form__link {
            @include margin(30px, 0, 20px, 0);
            p {
              text-align: center;
            }
            .jump__btn {
              text-align: center;
              margin-top: 10px;
              a {
                @include link;
                color: $plum;
                display: inline-block;
                &:hover {
                  opacity: 0.7;
                }
                p {
                }
              }
            }
            .ps__reset__link {
              @include margin(20px, 0, 0, 0);
              p {
              }
              .ps__reset__btn {
                @include margin(10px, 0, 0, 0);
                a {
                  @include link;
                  p {
                    color: $plum;
                  }
                }
              }
            }
          }
        }
      }
    }
    .signup__wrapper {
    }
    .login__wrapper {
      @include padding(100px);
    }
    .edit__wrapper {
      @include padding(100px);
    }
  }
}