@import "../../main.scss";



@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
  .main__wrapper {
    .main__view {
      padding-top: 100px;
      .searchbox__wrapper {
        display: none;
        form {
          width: 80vw;
          margin: 10px auto;
          text-align: center;
          box-sizing: border-box;
          position: relative;
          display: block;
          overflow: hidden;
          border-radius: 50px;
          box-shadow: 1px 1px 2px 1px rgb(180, 180, 180);
          .input__area {
            display: block;
            input {
              height: 50px;
              width: 100%;
              background-color: $white;
              border-radius: 50px;
            }
            input:focus {
              outline: none;
            }
            button {
              height: 50px;
              width: 50px;
              background-color: $plum;
              border-radius: 50px;
              cursor: pointer;
              position: absolute;
              right:0px;
              outline : none;
              i {
                color: $white;
                font-weight:bold;
              }
            }
          }
        }
      }
      &__img {
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        .bg__img.place {
          height: 400px;
          width: 100%;
          background-image: url("/assets/bg_image1.jpeg");
          background-size: contain;
          background-repeat: repeat;
          .main__view__cp {
            h1 {
              color: $white;
              padding-top: 200px;
            }
            p {
              padding: 5px;
              color: $white;
            }
          }
        }
      }
    }
    .main__content {
      .content__list {
        position: relative;
        margin-top: 50px;
        margin-right: 10px;
        margin-bottom: 50px;
        margin-left: 10px;
        h1 {
          font-size: 1.5rem;
        }
        p {
          color: $darkgray;
          font-size: 1.2rem;
        }
      }
      .other__list.place {
        position: relative;
        margin-top: 20px;
        margin-right: 12px;
        margin-bottom: 20px;
        margin-left: 12px;
        & h1 {
          font-size: 1.5rem;
        }
        & p {
          color: $darkgray;
        }
      }
      .other__list {
        & h1 {
        }
        & p {
        }
      }
    }
  }
}