@import "../../main.scss";


@media screen and (min-width: 560px) and (max-width: 959px) {
  // Tablet用のレスポンシブ
  .wrapper {
    .main__wrapper {
      height: 100%;
      width: 100%;
      .main__view {
        padding-top: 100px;
        .searchbox__wrapper {
          display: none;
          form {
            width: 80%;
            margin: 10px auto;
            text-align: center;
            box-sizing: border-box;
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 50px;
            box-shadow: 1px 1px 2px 1px rgb(180, 180, 180);
            .input__area {
              display: block;
              input {
                height: 50px;
                width: 100%;
                background-color: $white;
                border-radius: 50px;
              }
              input:focus {
                outline: none;
              }
              button {
                height: 50px;
                width: 50px;
                background-color: $plum;
                border-radius: 50px;
                cursor: pointer;
                position: absolute;
                right:0px;
                outline : none;
                i {
                  color: $white;
                  font-weight:bold;
                }
              }
            }
          }
        }
        &__img {
          text-align: center;
          position: relative;
          .bg__img.index {
            height: 600px;
            width: 95%;
            margin: 20px auto;
            background-image: url("/assets/bg_image2.jpeg");
            background-size: contain;
            border-radius: 20px;
            .main__view__cp {
              padding-top: 150px;
              h1 {
                color: $white;
              }
              p {
                color: $white;
              }
            }
            .place__btn {
              padding-top: 50px;
              a {
                @include flame;
                @include link;
                height: 50px;
                width: 300px;
                box-sizing: border-box;
                background-color: $plum;
                display: inline-block;
                outline: none;
                color: $white;
                font-size: 1.5rem;
                span {
                  line-height: 3rem;
                }
              }
            }
          }
        }
      }
      .main__content {
        .content__list {
          position: relative;
          margin: 30px 10px;
          h1 {
            font-size: 1.75rem;
          }
          p {
            color: $darkgray;
          }
          .move__btn {
            a {
              @include move-btn;
              i {
                position: absolute;
              }
            }
            .btn--left {
              a {
                left: 0%;
                top: 40%;
                i {
                  right: 40%;
                  top: 35%;
                }
              }
            }
            .btn--right {
              a {
                right: 0%;
                top: 40%;
                i {
                  right: 35%;
                  top: 35%;
                }
              }
            }
          }
          ul.content__box {
            list-style: none;
            display: flex;
            margin-top: 20px;
            a {
              @include link;
              li {
                height: 250px;
                width: 250px;
                @include flame;
                .content__wrapper {
                  height: 100%;
                  .content__img {
                    height: 70%;
                    img {
                      border-radius: 20px 20px 0 0;
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .content__cp {
                    padding: 10px;
                    text-align: center;
                    h2 {
                      font-size: 1.2rem;
                    }
                    p {
                      color: $darkgray;
                      padding: 5px;
                    }
                  }
                }
              }
            }
          }
          ul::-webkit-scrollbar {
            display: none;
          }
          .detail__btn {
            display: none;
            text-align: center;
            margin-bottom: 50px;
            a {
              height: 50px;
              width: 80vw;
              display: block;
              border: 1px solid $darkgray;
              border-radius: 20px;
              @include link;
              span {
                font-size: 1.2rem;
                line-height: 3rem;
                i {
                }
              }
            }
          }
        }
        #b-type {
          .move__btn {
            display: none;
            a {
              @include move-btn;
              i {
                @include awesome;
                position: absolute;
              }
            }
            .btn--left {
              a {
                left: 0%;
                top: 40%;
                i {
                  right: 40%;
                  top: 35%;
                }
              }
            }
            .btn--right {
              a {
                right: 0%;
                top: 40%;
                i {
                  right: 35%;
                  top: 35%;
                }
              }
            }
          }
          ul {
            flex-wrap: wrap;
            justify-content: space-around;
            a {
              margin-top: 5px;
              margin-right: 5px;
              margin-left: 5px;
              margin-bottom: 5px;
              li {
                height: 200px;
                width: 200px;
                .content__wrapper {
                  .content__img {
                    img {
                    }
                  }
                  .content__cp {
                    h2 {
                    }
                    p {
                    }
                  }
                }
              }
            }
          }
        }
        #area {
          .move__btn {
            display: none;
            a {
              @include move-btn;
              i {
                @include awesome;
                position: absolute;
              }
            }
            .btn--left {
              a {
                left: 0%;
                top: 40%;
                i {
                  right: 40%;
                  top: 35%;
                }
              }
            }
            .btn--right {
              a {
                right: 0%;
                top: 40%;
                i {
                  right: 35%;
                  top: 35%;
                }
              }
            }
          }
          ul {
            flex-wrap: wrap;
            justify-content: space-around;
            overflow: scroll;
            a {
              margin-top: 5px;
              margin-right: 5px;
              margin-left: 5px;
              margin-bottom: 5px;
              li {
                height: 130px;
                width: 300px;
                border: none;
                .content__wrapper {
                  display: flex;
                  .content__img {
                    height: 100%;
                    img {
                      border-radius: 20px;
                    }
                  }
                  .content__cp {
                    flex-direction: column;
                    padding-top: 15px;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                    width: 400px;
                    h2 {
                    }
                    p {
                      padding: 0;
                    }
                  }
                }
              }
            }
          }
        }
        #special {
          background-color: #9E7A7A;
          // background-color: $plum;
          margin-top: 30px;
          margin-right: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
          height: 400px;
          h1 {
            color: $white;
            margin-top: 0px;
            margin-right: 10px;
            margin-bottom: 0px;
            margin-left: 10px;
          }
          p {
            margin: 0 10px;
          }
          ul {
            overflow: scroll;
            margin-right: 20px;
            margin-left: 20px;
            a {
              margin-right: 10px;
              margin-bottom: 10px;
              margin-left: 10px;
              li {
                .content__wrapper {
                  .content__img {
                    img {
                    }
                  }
                  .content__cp {
                    h2 {
                    }
                    p {
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}