<div class="sctl__wrapper">
  <h3>特定商取引法に基づく表記</h3>
  <table>
    <tr>
      <th>販売社名</th>
      <td>株式会社 nil</td>
    </tr>
    <tr>
      <th>運営統括責任者</th>
      <td>佛 悠介</td>
    </tr>
    <tr>
      <th>所在地</th>
      <td>和歌山県 和歌山市 三葛 419-14</td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td>080-1442-0217</td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><a href="mailto:nil_inc@yahoo.co.jp">nil_inc@yahoo.co.jp</a></td>
    </tr>
    <tr>
      <th>ホームページ</th>
      <td><a href="https://www.ni-l.co.jp" target="blank">https://www.ni-l.co.jp</a></td>
    </tr>
    <tr>
      <th>お支払い方法</th>
      <td>クレジットカード決済のみ</td>
    </tr>
    <tr>
      <th>お支払い時期</th>
      <td>初回の支払いは、有料プラン加入時に支払われ、次回以降は翌月の同日同時間となります。(翌月に同日がない場合は、翌月末日になります。)</td>
    </tr>
    <tr>
      <th>販売価格</th>
      <td>月々9900円 (税込)</td>
    </tr>
    <tr>
      <th>商品以外の必要料金</th>
      <td>なし</td>
    </tr>
    <tr>
      <th>お申込み有効期限</th>
      <td>14日以内にお願いいたします。<br />14日間入金がない場合は、キャンセルとさせていただきます。</td>
    </tr>
    <tr>
      <th>商品引渡し時期</th>
      <td>代金決済後、直ちにご利用いただけます。</td>
    </tr>
    <tr>
      <th>返品・不良品について</th>
      <td>
        【返金対象】<br />
        基本的に、ご連絡頂いた月の、一ヶ月分の代金を返金させて頂きます。<br />
        【返金時期】<br />
        ご購入後 30日以内にご連絡があった場合に返金可能となります。<br />
        【返金方法】<br />
        メールにて返金要請してください。<br />原則、30 日以内にご購入代金を指定の口座へお振込いたします。
      </td>
    </tr>
    <tr>
      <th>表現、及び商品に<br />関する注意書き</th>
      <td>本商品に示された表現や再現性には個人差があり、<br />必ずしも利益や効果を保証したものではございません。</td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>
</div>