@import "../main.scss";



@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .wrapper {
    .main__wrapper {
      height: 100%;
      width: 100%;
      .main__view {
        padding-top: 100px;
        .searchbox__wrapper {
          display: none;
          form {
            width: 80%;
            margin: 10px auto;
            text-align: center;
            box-sizing: border-box;
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 50px;
            box-shadow: 1px 1px 2px 1px rgb(180, 180, 180);
            .input__area {
              display: block;
              input {
                height: 50px;
                width: 100%;
                background-color: $white;
                border-radius: 50px;
              }
              input:focus {
                outline: none;
              }
              button {
                height: 50px;
                width: 50px;
                background-color: $plum;
                border-radius: 50px;
                cursor: pointer;
                position: absolute;
                right:0px;
                outline : none;
                i {
                  color: $white;
                  font-weight:bold;
                }
              }
            }
          }
        }
        &__img {
          text-align: center;
          position: relative;
          .bg__img {
            height: 500px;
            width: 95%;
            margin: 20px auto;
            background-image: url("/assets/bg_image2.jpeg");
            background-size: contain;
            border-radius: 20px;
            .main__view__cp {
              padding-top: 120px;
              h1 {
                font-size: 1.3rem;
                color: $white;
              }
              p {
                color: $white;
              }
            }
            .place__btn {
              padding-top: 30px;
              a {
                height: 30px;
                width: 50%;
                border: 1px solid $darkgray;
                box-sizing: border-box;
                background-color: $plum;
                border-radius: 20px;
                outline: none;
                @include link;
                display: inline-block;
                color: $white;
                span {
                  line-height: 1.8rem;
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
      .main__content {
        display: flex;
        flex-direction: column;
        .content__list {
          position: relative;
          margin: 20px 12px;
          h1 {
            font-size: 1.2rem
          }
          p {
            color: $darkgray;
          }
          .move__btn {
            display: none;
            a {
              @include awesome;
              height: 44px;
              width: 44px;
              border-radius: 50%;
              background-color: $darkgray;
              position: absolute;
              opacity: 0.9;
              color: $white;
              i {
                @include awesome;
                position: absolute;
              }
            }
            .btn--left {
              a {
                right: 12%;
                top: 5%;
                i {
                  right: 40%;
                  top: 35%;
                }
              }
            }
            .btn--right {
              a {
                right: 5%;
                top: 5%;
                i {
                  right: 35%;
                  top: 35%;
                }
              }
            }
          }
          ul.content__box {
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 20px;
            a {
              @include link;
              margin: 10px 5px;
              li {
                height: 200px;
                width: 200px;
                border: 1px solid darkgray;
                border-radius: 20px;
                .content__wrapper {
                  height: 100%;
                  .content__img {
                    height: 70%;
                    img {
                      border-radius: 20px 20px 0 0;
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .content__cp {
                    padding: 10px;
                    h2 {
                      font-size: 1.1rem;
                    }
                    p {
                      color: $darkgray;
                      padding: 2px;
                    }
                  }
                }
              }
            }
          }
          ul::-webkit-scrollbar {
            display: none;
          }
          .detail__btn {
            display: none;
            text-align: center;
            margin-bottom: 50px;
            a {
              height: 50px;
              width: 200px;
              display: block;
              border: 1px solid $darkgray;
              border-radius: 20px;
              @include link;
              span {
                font-size: 1.2rem;
                line-height: 3rem;
                i {
                }
              }
            }
          }
        }
        #category {
          order: 2;
          ul {
            overflow: scroll;
          }
        }
        #area {
          order: 1;
          margin: 30px 12px;
          h1 {
          }
          ul {
            flex-wrap: wrap;
            margin-top: 20px;
            a {
              margin: 1px;
              li {
                height: 110px;
                width: 105px;
                border: none;
                .content__wrapper {
                  .content__img {
                    height: 100%;
                    img {
                      border-radius: 10px;
                    }
                  }
                  .content__cp {
                    h2 {
                    }
                  }
                }
              }
            }
          }
        }
        #special {
          order: 3;
          background-color: $beige;
          margin: 0;
          padding: 0 15px;
          h1 {
            padding-top: 20px;
          }
          ul {
            overflow-x: scroll;
            a {
              li {
                .content__wrapper {
                }
              }
            }
          }
          .detail__btn {
          }
        }
      }
    }
  }
}

@media screen and (min-width: 560px) and (max-width: 959px) {
  // Tablet用のレスポンシブ
}

@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
}