@import "../main.scss";

@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .wrapper {
    .main__wrapper {
      height: 100%;
      width: 100%;
      .main__view {
        .searchbox__wrapper {
          display: none;
          form {
            width: 80%;
            margin: 10px auto;
            text-align: center;
            box-sizing: border-box;
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 50px;
            box-shadow: 1px 1px 2px 1px rgb(180, 180, 180);
            .input__area {
              display: block;
              input {
                height: 50px;
                width: 100%;
                background-color: $white;
                border-radius: 50px;
              }
              input:focus {
                outline: none;
              }
              button {
                height: 50px;
                width: 50px;
                background-color: $plum;
                border-radius: 50px;
                cursor: pointer;
                position: absolute;
                right:0px;
                outline : none;
                i {
                  color: $white;
                }
              }
            }
          }
        }
        &__img {
          text-align: center;
          position: relative;
          .bg__img.place {
            height: 400px;
            width: 95%;
            margin: 20px auto;
            background-image: url("/assets/bg_image4.jpeg");
            background-size: contain;
            border-radius: 20px;
            .main__view__cp {
              padding-top: 120px;
              h1 {
                font-size: 1.3rem;
                color: $white;
              }
              p {
                color: $white;
              }
            }
          }
        }
      }
      .main__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .content__list.common {
          position: relative;
          margin-top: 20px;
          margin-right: 12px;
          margin-bottom: 20px;
          margin-left: 12px;
          & h1 {
            font-size: 1.2rem;
          }
          & p {
            color: $darkgray;
          }
          .move__btn {
            display: none;
            a {
              @include move-btn;
              i {
                position: absolute;
              }
            }
            .btn--left {
              a {
                right: 12%;
                top: 5%;
                i {
                  right: 40%;
                  top: 35%;
                }
              }
            }
            .btn--right {
              a {
                right: 5%;
                top: 5%;
                i {
                  right: 35%;
                  top: 35%;
                }
              }
            }
          }
          & ul.content__box {
            @include content-box;
            overflow: scroll;
            a {
              @include link;
              margin-top: 10px;
              margin-right: 5px;
              margin-bottom: 10px;
              margin-left: 5px;
              li {
                height: 200px;
                width: 200px;
                @include flame;
                .content__wrapper {
                  height: 100%;
                  .content__img {
                    height: 70%;
                    img {
                      border-radius: 20px 20px 0 0;
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .content__cp {
                    padding-top: 10px;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    h2 {
                      font-size: 1.1rem;
                    }
                    p {
                      color: $darkgray;
                      padding: 2px;
                    }
                  }
                }
              }
            }
          }
          ul::-webkit-scrollbar {
            display: none;
          }
          & .detail__btn {
            display: none;
            text-align: center;
            margin-bottom: 50px;
            a {
              height: 50px;
              width: 200px;
              display: block;
              @include flame;
              @include link;
              span {
                font-size: 1.2rem;
                line-height: 3rem;
                i {
                }
              }
            }
          }
        }
        .other__list {
          position: relative;
          margin-top: 20px;
          margin-right: 12px;
          margin-bottom: 20px;
          margin-left: 12px;
          & h1 {
            font-size: 1.2rem;
          }
          & p {
            color: $darkgray;
          }
          & .move__btn {
            display: none;
            a {
              @include move-btn;
              i {
                position: absolute;
              }
            }
            .btn--left {
              a {
                right: 12%;
                top: 5%;
                i {
                  right: 40%;
                  top: 35%;
                }
              }
            }
            .btn--right {
              a {
                right: 5%;
                top: 5%;
                i {
                  right: 35%;
                  top: 35%;
                }
              }
            }
          }
          & ul.post__box {
            @include content-box;
            overflow: scroll;
            a {
              @include link;
              margin-top: 10px;
              margin-right: 5px;
              margin-bottom: 10px;
              margin-left: 5px;
              li {
                height: 270px;
                width: 260px;
                border-radius: 20px;
                .post__wrapper {
                  height: 100%;
                  .post__img {
                    height: 65%;
                    img {
                      border-radius: 20px 20px 0 0;
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .post__info {
                    padding-top: 5px;
                    padding-right: 0px;
                    padding-bottom: 3px;
                    padding-left: 5px;
                    &__deco {
                      display: flex;
                      .post__review {
                        i.fas.fa-star {
                          color: $plum;
                        }
                        span {
                          padding: 2px;
                        }
                      }
                      .post__tag {
                        i {
                          
                        }
                      }
                    }
                    &__basic {
                      .post__name {
                        h2 {
                          font-size: 1rem;
                        }
                      }
                      .post__about {
                        display: flex;
                        .post__place {
                          .address {
                            span {
                              color: $darkgray;
                              padding: 2px;
                            }
                          }
                        }
                        span {
                          font-size: 12px;
                        }
                        .post__category {
                          span {
                            color: $darkgray;
                          }
                        }
                      }
                      .post__budget {
                        span {
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          & .detail__btn {
            text-align: center;
            a.detail {
              @include link;
              height: 50px;
              width: 200px;
              @include flame;
              line-height: 50px;;
              display: inline-block;
              span {
                font-size: 1.2rem;
                i {
                }
              }
            }
          }
        }
      }
    }
  }
}
