@import "../main.scss";


@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .wrapper {
    .main__wrapper.shop__page__wrapper {
      padding-top: 80px;
      .shop__view {
        position: relative;
        .shop__img__list {
          .main__img {
            .shop__img.no-1 {
              height: 250px;
              a {
                img {
                  height: 100%;
                  width: 100%;
                }
              }
            }
          }
          .sub__img {
            ul.sub__img__list {
              li {
                .shop__img.no-2 {
                  display: none;
                  a {
                    img {
                    }
                  }
                }
                .shop__img.no-3 {
                  display: none;
                  a {
                    img {
                    }
                  }
                }
                .shop__img.no-4 {
                  display: none;
                  a {
                    img {
                    }
                  }
                }
                .shop__img.no-5 {
                  display: none;
                  a {
                    img {
                    }
                  }
                }
              }
            }
          }
          .shop__img {
            a {
              img {
              }
            }
          }
        }
        .shop__event {
          width: 100px;
          position: absolute;
          left: 70%;
          top: 3%;
          display: flex;
          display: none;
          a {
            // common
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: $white;
            opacity: 0.9;
            margin-right: 10px;
            display: block;
            i {
              margin: 12px;
              color: $darkgray;
            }
            span {
              display: none;
            }
          }
          .share__btn {
            & a {
              .share__icon {
                i.fas.fa-upload {
                }
              }
            }
          }
          .like__btn {
            & a {
              .like__icon {
                i.far.fa-heart {
                }
                i.fas.fa-heart {
                  display: none;
                }
              }
            }
          }
        }
        .detail__btn {
          display: none;
          a.detail {
            span {
              i {
              }
            }
          }
        }
        .img__move__btn {
          display: none;
          a {
            li {
            }
          }
        }
      }
      .shop__info.main {
        .shop__info__head {
          margin-top: 10px;
          margin-right: 10px;
          margin-bottom: 50px;
          margin-left: 10px;
          .shop__info__profile {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
            .shop__about {
              display: flex;
              .shop__review {
                margin-right: 10px;
                i.fas.fa-star {
                  color: $plum;
                  margin-right: 3px;
                }
                span {
                }
              }
              .shop__tag {
                margin-right: 10px;
                i.fas.fa-hashtag {
                  color: $darkgray;
                }
                span {
                }
              }
            }
            .shop__name {
              margin-top: 10px;
              h2 {
                font-size: 1.3rem;
              }
            }
            .shop__ggrmap {
              .ggrmap__link {
                display: flex;
                flex-direction: row-reverse;
                a {
                  @include link;
                  .map {
                    height: 65px;
                    width: 65px;
                    background-color: $deepgreen;
                    color: white;
                  }
                }
              }
            }
            .shop__address {
              display: flex;
              margin-top: 15px;
              &__ttl {
                display: flex;
                i.fas.fa-map-marker-alt {
                  width: 20px;
                  color: $darkgray;
                  font-size: 1.3rem;
                  margin-right: 10px;
                  padding-top: 3px;
                }
                p {
                  margin-right: 5px;
                }
              }
              &__import {
                span {
                  @include word-el;
                  margin-right: 5px;
                }
              }
            }
            .shop__hours {
              display: flex;
              margin-top: 15px;
              &__ttl {
                display: flex;
                i.far.fa-clock {
                  width: 20px;
                  color: $darkgray;
                  font-size: 1.3rem;
                  margin-right: 10px;
                  padding-top: 3px;
                }
                p {
                  margin-right: 5px;
                }
              }
              &__import {
                span {
                }
              }
            }
            .shop__budget {
              margin-top: 15px;
              display: flex;
              i.fas.fa-yen-sign {
                width: 20px;
                color: $darkgray;
                font-size: 1.3rem;
                margin-right: 10px;
                padding-top: 3px;
              }
              p {
                margin-right: 10px;
              }
              span {
              }
            }
          }
        }
      }
      .shop__info__sub {
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
        margin-left: 10px;
        .shop__info__body {
          .shop__info__summary {
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
            h2 {
              font-size: 1.3rem;
              margin-bottom: 10px;
            }
            .summary__list {
              & ul.table {
                & li {
                  margin-top: 20px;
                  margin-bottom: 20px;
                  .table__force {
                    display: flex;
                    justify-content: space-between;
                    .table__ttl {
                      display: flex;
                      i {
                        width: 20px;
                        color: $darkgray;
                        font-size: 1.3rem;
                        margin-right: 15px;
                        padding-top: 3px;
                      }
                    }
                    .table__import {
                    }
                    p,span {
                      margin-right: 5px;
                      @include word-el;
                    }
                  }
                  .table__force.name {
                    & .table__ttl {
                      i.fas.fa-signature {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.category {
                    & .table__ttl {
                      i.fas.fa-tag {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.phone {
                    & .table__ttl {
                      i.fas.fa-phone {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.address {
                    & .table__ttl {
                      i.fas.fa-map-marker-alt {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.booking {
                    & .table__ttl {
                      i.fas.fa-book {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.budget {
                    & .table__ttl {
                      i.fas.fa-yen-sign {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.time {
                    & .table__ttl {
                      i.far.fa-clock {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      .time-info {
                        display: flex;
                        margin-bottom: 5px;
                        h4 {
                          margin-right: 5px;
                        }
                        span {
                        }
                      }
                      .rest-info {
                        display: flex;
                        margin-bottom: 5px;
                        h4 {
                        }
                        span {
                        }
                      }
                    }
                  }
                  .table__force.payment {
                    .table__ttl {
                      i.far.fa-credit-card {
                      }
                      & p {
                      }
                    }
                    .table__import {
                      & .credit {
                        display: flex;
                        & p {
                          margin-right: 10px;
                        }
                        & span {
                          border-bottom: 1px solid $darkgray;
                          margin-right: 30px;
                        }
                      }
                      & ul.card__list {
                        display: flex;
                        margin-bottom: 10px;
                        & li {
                          margin-top: 0px;
                          margin-right: 10px;
                          margin-bottom: 0px;
                        }
                      }
                      .ele-pay {
                        display: flex;
                        & p {
                          margin-right: 10px;
                        }
                        & span {
                          border-bottom: 1px solid $darkgray;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .shop__info__usp {
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
            .shop__cp {
              .shop__ttl {
                h1 {
                  font-size: 1rem;
                  margin-bottom: 15px;
                }
                p {
                }
              }
              .shop__read {
                p {
                }
              }
            }
            .detail__btn {
              text-align: center;
              a.detail {
                span {
                  i {
                  }
                }
              }
            }
          }
          .shop__info__amenity {
            display: none;
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
            h2 {
              font-size: 1.3rem;
            }
            .amenity__detail {
              .amenity__list {
                p {
                }
                i {
                }
              }
            }
            .detail__btn {
              a.detail {
                span {
                  i {
                  }
                }
              }
            }
          }
          .shop__info__sns {
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
            h1 {
              font-size: 1.3rem;
            }
            .sns__link {
              display: flex;
              margin-top: 20px;
              margin-bottom: 20px;
              &__ttl {
                display: flex;
                margin-right: 20px;
                i.fas.fa-home {
                  color: $darkgray;
                  font-size: 1.3rem;
                  margin-right: 10px;
                  width: 20px;
                  padding-top: 3px;
                }
                i.fas.fa-share-alt {
                  color: $darkgray;
                  font-size: 1.3rem;
                  margin-right: 10px;
                  width: 20px;
                  padding-top: 3px;
                }
                & p {
                }
              }
              &__import {
                display: flex;
                max-width: 200px;
                word-break: break-all;
                .facebook {
                  margin: 0px 10px;
                  a {
                    i.fab.fa-facebook-square {
                      color: $darkgray;
                      font-size: 1.5rem;
                    }
                  }
                }
                .instagram {
                  margin: 0px 10px;
                  a {
                    i.fab.fa-instagram {
                      color: $darkgray;
                      font-size: 1.5rem;
                    }
                  }
                }
                .twitter {
                  margin: 0px 10px;
                  a {
                    i.fab.fa-twitter {
                      color: $sora;
                      font-size: 1.5rem;
                    }
                  }
                }
                & a {
                  & i {
                  }
                }
              }
            }
          }
        }
        .review__box {
          margin-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
          & .review__count {
            margin-bottom: 10px;
            i.fas.fa-star {
              color: $plum;
              font-size: 1.2rem;
              span {
              }
            }
          }
          & .review__list {
            margin-top: 20px;
            margin-bottom: 20px;
            & ul {
              display: flex;
              // flex-wrap: nowrap;
              overflow: scroll;
              & li {
                padding-top: 20px;
                padding-right: 10px;
                padding-bottom: 20px;
                padding-left: 10px;
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                margin-left: 10px;
                @include flame;
                .review__wrapper {
                  height: 200px;
                  width: 250px;
                  .review__header {
                    .user__profile {
                      display: flex;
                      &__left {
                        .user__img {
                          margin-right: 20px;
                          margin-left: 15px;
                          img {
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                          }
                        }
                      }
                      &__right {
                        flex-direction: column;
                        & .user__name {
                          h4 {
                          }
                        }
                        & .review__date {
                          p {
                            color: $darkgray;
                            font-size: 13px;
                          }
                        }
                      }
                    }
                  }
                  .review__contents {
                    height: 150px;
                    .review__cp {
                      p {
                      }
                    }
                    .review__txt {
                      word-break: break-all;
                      & p {
                        height: 130px;
                        padding-top: 10px;
                        padding-right: 10px;
                        padding-bottom: 10px;
                        padding-left: 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                    }
                    .more__btn {
                      text-align: right;
                      & a {
                        color: $darkgray;
                        & span {
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .detail__btn {
            text-align: center;
            margin-top: 10px;
            a.detail {
              @include link;
              height: 50px;
              width: 200px;
              border: 1px solid $darkgray;
              border-radius: 20px;
              line-height: 50px;;
              display: inline-block;
              span {
                font-size: 1rem;
              }
            }
          }
        }
        .shop__other__info {
          display: none;
          h1 {
          }
           div {
            p {
            }
          }
        }
        .ggrmap__wrapper {
          display: none;
          border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
          h1 {
          }
          p {
          }
          .ggrmap {
            a {
            }
          }
          .ggrmap__info {
            p {
            }
          }
        }
        .other__list {
          // .near-event
          h1 {
            font-size: 1.5rem;
          }
          p {
          }
          & .move__btn {
            display: none;
            .btn--left {
              a {
                i.fas.fa-chevron-left {
                }
              }
            }
            .btn--right {
              a {
                i.fas.fa-chevron-right {
                }
              }
            }
          }
          & ul.post__box {
            @include content-box;
            margin-top: 10px;
            overflow: scroll;
            a {
              @include link;
              margin-top: 10px;
              margin-right: 5px;
              margin-bottom: 10px;
              margin-left: 5px;
              li {
                height: 250px;
                width: 250px;
                border-radius: 20px;
                .post__wrapper {
                  height: 100%;
                  .post__img {
                    height: 65%;
                    img {
                      border-radius: 20px 20px 0 0;
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .post__info {
                    padding-top: 5px;
                    padding-right: 0px;
                    padding-bottom: 3px;
                    padding-left: 5px;
                    &__deco {
                      display: flex;
                      .post__review {
                        i.fas.fa-star {
                          color: $plum;
                        }
                        span {
                        }
                      }
                      .post__tag {
                        i {
                        }
                        span {
                        }
                      }
                    }
                    .post__info__basic {
                      .post__name {
                        h2 {
                          font-size: 1rem;
                        }
                      }
                      .post__about {
                        display: flex;
                        .post__place {
                          .address {
                            @include word-el;
                            span {
                              color: $darkgray;
                              padding: 2px;
                            }
                          }
                        }
                      }
                      .post__budget {
                        i.fas.fa-yen-sign {
                        }
                        span {
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          & .detail__btn {
            display: none;
            a.detail {
              span {
                i {
                }
              }
            }
          }
        }
        .other__list {
          h1 {
          }
          p {
          }
          .move__btn {
            .btn--left {
              a {
                i.fas.fa-chevron-left {
                }
              }
            }
            .btn--right {
              a {
                i.fas.fa-chevron-right {
                }
              }
            }
          }
          ul.post__box {
            a {
              li {
                .post__wrapper {
                  .post__img {
                  }
                  .post__info {
                    .post__info__deco {
                      .post__review {
                        i.fas.fa-star {
                        }
                        span {
                        }
                      }
                      .post__tag {
                        i {
                        }
                        span {
                        }
                      }
                    }
                    .post__info__basic {
                      .post__name {
                        h2 {
                        }
                      }
                      .post__about {
                        .post__place {
                          .address {
                            span {
                            }
                          }
                        }
                      }
                      .post__budget {
                        i.fas.fa-yen-sign {
                        }
                        span {
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .detail__btn {
            a.detail {
              span {
                i {
                }
              }
            }
          }
        }
      }
    }
  }
}