@import "../main.scss";


@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .wrapper {
    .main__wrapper.shop__page__wrapper {
      position: relative;
      @include padding(80px, 0px, 50px, 0px);
      .shop__view {
        .shop__img__list {
          height: 250px;
          width: 100%;
          display: flex;
          position: relative;
          & .main__img {
            width: 100%;
            & .shop__img.no-1 {
              height: 250px;
              width: 100%;
              a {
                img {
                }
              }
            }
          }
          & .sub__img {
            display: none;
            position: absolute;
            right: -1700px;
            ul.img__list {
              display: flex;
              flex-wrap: nowrap;
              li {
                width: 100%;
                min-width: 100%;
                @include margin(0, 0, 0px, 0px);
                & .shop__img {
                  // common
                  height: 250px;
                  width: 100%;
                }
                & .shop__img.no-2 {
                  a {
                    img {
                    }
                  }
                }
                & .shop__img.no-3 {
                  a {
                    img {
                    }
                  }
                }
                & .shop__img.no-4 {
                  a {
                    img {
                    }
                  }
                }
                & .shop__img.no-5 {
                  a {
                    img {
                    }
                  }
                }
              }
            }
          }
          .shop__img {
            height: 200px;
            width: 100%;
            a {
              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
        .shop__event {
          position: absolute;
          display: flex;
          right: 3%;
          // z-index: 3;
          a {
            // common
            @include link;
            height: 40px;
            width: 40px;
            color: $darkgray;
            border-radius: 50%;
            display: block;
            background-color: $white;
            &:hover {
              @include link-hover;
            }
            i {
              @include margin(10px, 0px, 10px, 0px);
              font-size: 1.5rem;
              color: $darkgray;
            }
            span {
              font-size: 10px;
            }
          }
          .share__btn {
            @include margin(0, 5px, 0, 0);
            & a {
              .share__icon {
                text-align: center;
                display: flex;
                flex-direction: column;
                i.fas.fa-upload {
                }
                span {
                  display: none;
                }
              }
            }
          }
          .like__btn {
            & a {
              .like__icon {
                text-align: center;
                display: flex;
                flex-direction: column;
                i.far.fa-heart {
                  color: $plum;
                }
                i.fas.fa-heart {
                  color: $plum;
                }
                span {
                  display: none;
                }
              }
            }
          }
        }
        .detail__btn {
          display: none;
          text-align: center;
          @include margin(0, 0, 50px, 0);
          a.detail {
            height: 50px;
            width: 200px;
            display: inline-block;
            @include flame;
            @include link;
            span {
              font-size: 1.2rem;
              line-height: 3rem;
              i {
              }
            }
          }
        }
        .img__move__btn {
          display: none;
          a {
            li {
            }
          }
        }
      }
      .shop__info.main {
        @include margin(10px, 20px, 10px, 20px);
        @include padding(0, 0, 10px, 0);
        @include border-btm;
        .shop__info__head {
          position: relative;
          .shop__info__profile {
            display: flex;
            flex-direction: column;
            .shop__about {
              order: 2;
              display: flex;
              .shop__review {
                @include margin(0, 10px, 0, 0);
                i.fas.fa-star {
                  color: $plum;
                }
                span {
                  @include mobile-fsz;
                }
              }
              .shop__tag {
                @include margin(0, 10px, 0, 0);
                i.fas.fa-hashtag {
                  color: $darkgray;
                }
                span {
                  @include mobile-fsz;
                }
              }
            }
            .shop__name {
              order: 1;
              @include margin(10px, 0, 5px, 0);
              h2 {
                @include mobile-ttl;
              }
            }
            .shop__ggrmap {
              order: 6;
              display: none;
              .ggrmap__link {
                position: absolute;
                top: 50%;
                right: 6%;
                a {
                  @include link;
                  .map {
                    height: 75px;
                    width: 75px;
                    background-color: $deepgreen;
                    color: white;
                  }
                }
              }
            }
            .shop__address {
              order: 3;
              display: flex;
              @include margin(5px, 0, 0, 0);
              &__ttl {
                display: flex;
                i.fas.fa-map-marker-alt {
                  width: 20px;
                  color: $darkgray;
                  @include padding(3px, 0, 0, 0);
                }
                p {
                  @include margin(0, 5px, 0, 0);
                }
              }
              & a {
                color: $darkgray;
                .shop__address__import {
                  span {
                    width: 250px;
                    @include word-el;
                    @include margin(0, 5px, 0, 0);
                  }
                }
              }
            }
            .shop__hours {
              order: 4;
              display: flex;
              @include margin(5px, 0, 0, 0);
              &__ttl {
                display: flex;
                i.far.fa-clock {
                  width: 20px;
                  color: $darkgray;
                  @include padding(3px, 0, 0, 0);
                }
                p {
                  @include margin(0, 5px, 0, 0);
                }
              }
              &__import {
                span {
                }
              }
            }
            .shop__budget {
              order: 5;
              @include margin(5px, 0, 0, 0);
              display: flex;
              i.fas.fa-yen-sign {
                width: 20px;
                color: $darkgray;
                @include margin(0, 10px, 0, 0);
                @include padding(3px, 0, 0, 0);
              }
              p {
                @include margin(0, 10px, 0, 0);
              }
              span {
              }
            }
          }
        }
      }
      .shop__info.sub {
        @include margin(0, 20px, 0, 20px);
        .shop__info__body {
          .shop__info__summary {
            @include margin(30px, 0, 0, 0);
            @include padding(0, 0, 10px, 0);
            @include border-btm;
            h2 {
              font-size: 1.3rem;
              @include margin(0, 0, 10px, 0);
            }
            .summary__list {
              & ul.table {
                & li {
                  @include margin(20px, 0, 20px, 0);
                  .table__force {
                    display: flex;
                    .table__ttl {
                      display: flex;
                      width: 40%;
                      i {
                        width: 20px;
                        color: $darkgray;
                        font-size: 1.3rem;
                        @include margin(0, 15px, 0, 0)
                        @include padding(2px, 0, 0, 0);
                      }
                    }
                    .table__import {
                      width: 60%;
                    }
                    p,span {
                      @include mobile-fsz;
                      @include word-el;
                    }
                  }
                  .table__force.name {
                    & .table__ttl {
                      i.fas.fa-signature {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.category {
                    & .table__ttl {
                      i.fas.fa-tag {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.phone {
                    & .table__ttl {
                      i.fas.fa-phone {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.address {
                    & .table__ttl {
                      i.fas.fa-map-marker-alt {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.booking {
                    & .table__ttl {
                      i.fas.fa-book {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.budget {
                    & .table__ttl {
                      i.fas.fa-yen-sign {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      & span {
                      }
                    }
                  }
                  .table__force.time {
                    & .table__ttl {
                      i.far.fa-clock {
                      }
                      & p {
                      }
                    }
                    & .table__import {
                      .time-info {
                        display: flex;
                        @include margin(0, 0, 5px, 0);
                        h4 {
                          @include margin(0, 10px, 0, 0);
                          @include mobile-fsz;
                        }
                        span {
                        }
                      }
                      .rest-info {
                        display: flex;
                        @include margin(0, 0, 5px, 0);
                        h4 {
                          @include margin(0, 10px, 0, 0);
                          @include mobile-fsz;
                        }
                        span {
                        }
                      }
                    }
                  }
                  .table__force.payment {
                    .table__ttl {
                      i.far.fa-credit-card {
                      }
                      & p {
                      }
                    }
                    .table__import {
                      & .credit {
                        display: flex;
                        & p {
                          @include margin(0, 10px, 0, 0);
                        }
                        & span {
                          border-bottom: 1px solid $darkgray;
                          @include margin(0, 30px, 0, 0);
                        }
                      }
                      & ul.card__list {
                        display: flex;
                        @include margin(0, 0, 10px, 0);
                        & li {
                          @include margin(0, 10px, 0, 0);
                        }
                      }
                      .ele-pay {
                        display: flex;
                        & p {
                          @include margin(0, 10px, 0, 0);
                        }
                        & span {
                          border-bottom: 1px solid $darkgray;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .shop__info__usp {
            display: none;
            @include margin(30px, 0, 0, 0);
            @include padding(0, 0, 20px, 0);
            border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
            .shop__cp {
              .shop__ttl {
                h1 {
                  font-size: 1.5rem;
                  @include margin(0, 0, 15px, 0);
                }
                p {
                }
              }
              .shop__read {
                p {
                }
              }
            }
          }
          .shop__info__amenity {
            display: none;
            @include margin(20px, 0, 0, 0);
            @include padding(0, 0, 20px, 0);
            border-bottom: 1px solid rgba($color: $darkgray, $alpha: 0.3);
            h2 {
              font-size: 1.3rem;
            }
            .amenity__detail {
              .amenity__list {
                p {
                }
                i {
                }
              }
            }
          }
          .shop__info__sns {
            @include margin(30px, 0, 0, 0);
            @include padding(0, 0, 10px, 0);
            @include border-btm;
            h1 {
              font-size: 1.3rem;
            }
            .sns__link {
              display: flex;
              @include margin(20px, 0, 20px, 0);
              &__ttl {
                width: 40%;
                display: flex;
                i {
                  // common
                  color: $darkgray;
                  font-size: 1.3rem;
                  @include margin(0, 15px, 0, 0);
                  width: 20px;
                  @include padding(2px, 0, 0, 0);
                }
                i.fas.fa-home {
                }
                i.fas.fa-share-alt {
                }
                & p {
                  @include mobile-fsz;
                  @include word-el;
                }
              }
              &__import {
                width: 60%;
                justify-content: center;
                display: flex;
                word-break: break-all;
                .facebook {
                  @include margin(0, 15px, 0, 15px);
                  a {
                    i.fab.fa-facebook-square {
                      color: $darkgray;
                      font-size: 2rem;
                    }
                  }
                }
                .instagram {
                  @include margin(0, 15px, 0, 15px);
                  a {
                    i.fab.fa-instagram {
                      color: $darkgray;
                      font-size: 2rem;
                    }
                  }
                }
                .twitter {
                  @include margin(0, 15px, 0, 15px);
                  a {
                    i.fab.fa-twitter {
                      color: $sora;
                      font-size: 2rem;
                    }
                  }
                }
                & a {
                  & i {
                  }
                }
              }
            }
          }
        }
        .review__box {
          @include margin(30px, 0, 0, 0);
          @include padding(0, 0, 30px, 0);
          @include border-btm;
          & .review__count {
            @include margin(0, 0, 0, 20px);
            i.fas.fa-star {
              color: $plum;
              span.star__rate {
              }
            }
          }
          & .review__list {
            @include margin(20px, 0, 20px, 0);
            & ul {
              display: flex;
              overflow: scroll;
              & li {
                @include margin(10px, 5px, 10px, 5px);
                @include padding(10px, 10px, 10px, 10px);
                @include flame;
                .review__wrapper {
                  height: 200px;
                  width: 250px;
                  .review__header {
                    .user__profile {
                      display: flex;
                      @include padding(0, 0, 5px, 0);
                      &__left {
                        .user__img {
                          @include margin(0, 15px, 0, 10px);
                          img {
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                          }
                        }
                      }
                      &__right {
                        flex-direction: column;
                        & .user__name {
                          h4 {
                            @include mobile-fsz;
                          }
                        }
                        & .review__date {
                          p {
                            color: $darkgray;
                            font-size: 12px;
                          }
                        }
                      }
                    }
                  }
                  .review__contents {
                    height: 150px;
                    .review__cp {
                      p {
                        font-weight: bold;
                        @include word-el;
                        @include padding(0px, 10px, 0px, 10px);
                      }
                    }
                    .review__txt {
                      word-break: break-all;
                      & p {
                        height: 130px;
                        width: 250px;
                        @include artcl-el(5);
                        @include padding(5px, 5px, 5px, 5px);
                        @include mobile-fsz;
                        line-height: 1.5rem;
                      }
                    }
                    .more__btn {
                      text-align: right;
                      display: none;
                      & a {
                        color: $darkgray;
                        & span {
                          @include mobile-fsz;
                        }
                      }
                    }
                  }
                }
              }
            }
            & ul.no__exist {
              text-align: center;
              display: block;
              & li {
                border: none;
                .no__content__msg {
                  h3 {
                  }
                  .review__link {
                    @include padding(5px, 0, 0, 0)
                    a {
                      p {
                        @include mobile-fsz;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .shop__other__info {
          display: none;
          h1 {
          }
           div {
            p {
            }
          }
        }
        .ggrmap__wrapper {
          @include margin(30px, 0, 0, 0);
          @include padding(0, 0, 40px, 0);
          @include border-btm;
          display: block;
          h1 {
            @include mobile-ttl;
            @include margin(0, 0, 20px, 0);
          }
          p {
            text-align: center;
            @include margin(0, 0, 20px, 0);
          }
          .ggrmap {
            height: 200px;
            width: 300px;
            @include margin(0, auto, 0, auto);
          }
        }
      }
    }
  }
}