@import "layouts/base_color.scss";


@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
}

@media screen and (min-width: 560px) and (max-width: 959px) {
  // Tablet用のレスポンシブ
}

@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
}


// ------------------------------------------------------------------

@media screen and (min-width: 960px) {
  // PC用の共通部分
  .top__face {
    height: 100%;
    width: 100%;
  }
  .main__wrapper {
    height: 100%;
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    .move__btn {
      a {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: $darkgray;
        position: absolute;
        opacity: 0.9;
        color: $white;
        i {
          position: absolute;
        }
      }
      .btn--left {
        a {
          right: 12%;
          top: 3%;
          i.fas.fa-chevron-left {
            right: 40%;
            top: 35%;
          }
        }
      }
      .btn--right {
        a {
          right: 5%;
          top: 3%;
          i.fas.fa-chevron-right {
            right: 35%;
            top: 35%;
          }
        }
      }
    }
    .detail__btn {
      text-align: center;
      a.detail {
        height: 50px;
        width: 200px;
        line-height: 50px;;
        display: inline-block;
        color: $black;
        text-decoration: none;
        border: 1px solid $darkgray;
        border-radius: 20px;
        span {
          font-size: 1.2rem;
          i {
          }
        }
      }
    }
  }
}



@media screen and (max-width: 559px) {
  // Mobile用の共通部分
  .detail__btn {
    text-align: center;
    a.detail {
      height: 40px;
      width: 180px;
      line-height: 40px;;
      display: inline-block;
      color: $black;
      text-decoration: none;
      border: 1px solid $darkgray;
      border-radius: 20px;
      span {
        font-size: 1.0rem;
        i {
        }
      }
    }
  }
}





@mixin link($color: black) {
  color: $color;
  text-decoration: none;
}

@mixin margin($mTop: 0px, $mRight: 0px, $mBottom: 0px, $mLeft: 0px) {
  margin-top: $mTop;
  margin-right: $mRight;
  margin-bottom: $mBottom;
  margin-left: $mLeft;
}

@mixin padding($pTop: 0px, $pRight: 0px, $pBottom: 0px, $pLeft: 0px) {
  padding-top: $pTop;
  padding-right: $pRight;
  padding-bottom: $pBottom;
  padding-left: $pLeft;
}


@mixin awesome {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}
// @mixin awesome($content) {
//   font-family: "Font Awesome 5 Free";
//   font-weight: bold;
//   content: $content;
// }

@mixin content-box($display: flex) {
  list-style: none;
  display: $display;
  flex-wrap: nowrap;
  margin-top: 30px;
  margin-bottom: 20px;
}

@mixin flame {
  border: 1px solid $darkgray;
  border-radius: 20px;
}

@mixin main-list {
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

@mixin move-btn {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: $darkgray;
  position: absolute;
  opacity: 0.9;
  color: $white;
}

@mixin word-el {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin mobile-dtl-btn {
  height: 40px;
  width: 180px;
  line-height: 40px;
  display: inline-block;
  border: 1px solid $darkgray;
  border-radius: 20px;
  color: $black;
  text-decoration: none;
}

@mixin artcl-el($recode: 5) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $recode;
  overflow: hidden;
}

@mixin border-btm($color: gray, $opct: 0.3) {
  border-bottom: 1px solid rgba($color, $alpha: $opct);
}

@mixin link-hover($opct: 0.8) {
  opacity: $opct;
}

@mixin mobile-fsz($f-size: 0.9rem) {
  font-size: $f-size;
}

@mixin mobile-ttl($h-size: 1.3rem) {
  font-size: $h-size;
}

// @mixin form {
//   outline: none;
// }


// .main__wrapper {
//   height: 100%;
//   width: 100%;
//   padding-right: 60px;
//   padding-left: 60px;
// }

// @mixin pc-wrapper {
//   padding-right: 60px;
//   padding-left: 60px;
// }

// @mixin mobile-wrapper {
//   padding-right: 20px;
//   padding-left: 20px;
// }