<%# @ownerは、specのプレビューで定義されている %>
<h1>Sample</h1>

<p>
  hello、<%= @owner.name %> !
</p>

<%# <p>ようこそ、Wideへ！ 下のURLをクリックして、アカウントを有効化してください！</p> %>

<%= link_to "account-activation", edit_owner_account_activation_url(@owner.activation_token, email: @owner.email) %>
