@import "../../main.scss";

@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
  header {
    .hd__wrapper {
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      position: fixed;
      z-index: 90;
      box-shadow: 0px 0px 3px 0px #544C59;
      background-color: $white;
      .hd__logo {
        width: 100px;
        @include margin(10px, 30px, 10px, 30px);
        a {
          img {
            height: 80px;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .hd__search__box {
        width: 65%;
        form {
          border-radius: 50px;
          @include margin(25px, 10px, 25px, 10px);
          box-shadow: 0 0 4px 0px $darkgray;
          height: 50px;
          width: 100%;
          display: inline-block;
          position: relative;
          .search__form {
            height: 100%;
            input {
              height: 100%;
              outline: none;
              @include padding(0px, 0px, 0px, 20px);
              &:hover {
                background-color: rgba($darkgray, $alpha: 0.3);
                // border-radius: 50px 0px 0px 50px;
              }
            }
            input.area__form {
              display: none;
              width: 20%;
            }
            select {
              height: 100%;
              width: 27%;
              outline: none;
              @include padding(0px, 0, 0px, 20px);
              &:hover {
                background-color: rgba($darkgray, $alpha: 0.3);
                border-radius: 50px 0px 0px 50px;
              }
            }
            input.keyword__form {
              width: 65%;
              border-left: 2px solid rgba($color: $darkgray, $alpha: 0.3);
            }
            input.date__form {
              display: none;
              width: 20%;
              border-left: 2px solid rgba($color: $darkgray, $alpha: 0.3);
            }
          }
          .search__btn {
            position: absolute;
            right: 0;
            top: 0;
            button {
              height: 50px;
              width: 50px;
              background-color: $plum;
              border-radius: 50px;
              cursor: pointer;
              outline : none;
              i {
                color: $white;
                font-weight:bold;
                input.btn {
                  display: none;
                }
              }
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
      .hd__nav {
        display: flex;
        line-height: 7.5rem;
        input#menu {
          display: none;
          position: absolute;
          left: -50vw;
          &:checked ~ nav.mobile__nav {
          right: 0px;
          }
          &:checked ~ .back {
            display: none;
            position: absolute;
            height: 100vh;
            width: 100%;
            right: 0%;
            background-color: $white;
            opacity: 0.8;
            transition: all 0.2s;
          }
        }
        label.open {
          display: none;
          @include margin(0, 20px, 0, 20px);
          i.fas.fa-bars {
            color: $darkgray;
            @include awesome;
            font-size: 3rem;
            cursor: pointer;
          }
        }
        label.back {
        }
        nav.mobile__nav {
          display: none;
        }
        input#bar_menu {
          display: none;
          position: absolute;
          left: -50vw;
          &:checked ~ nav.pc__nav--bar {
          right: 0px;
          }
          &:checked ~ .bar__back {
            position: absolute;
            height: 100vh;
            width: 100%;
            right: 0%;
            background-color: $white;
            opacity: 0.8;
            transition: all 0.2s;
          }
        }
        label.bar__open {
          display: none;
          @include margin(0, 20px, 0, 20px);
          i.fas.fa-bars {
            color: $darkgray;
            @include awesome;
            font-size: 3rem;
            cursor: pointer;
          }
        }
        label.bar__back {
          display: none;
        }
        nav.pc__nav--bar {
          display: none;
          label.bar__close {
          }
          ul {
            display: flex;
            flex-direction: column;
            @include margin(0, 0, 30px, 0);
            li {
              @include margin(0px, 0, 30px, 0px);
              @include padding(0px, 0, 0, 30px);
              height: 30px;
              line-height: 30px;
              .nav__link {
                height: 100%;
                a {
                  height: 100%;
                  @include link($darkgray);
                  display: inline-block;
                  p {
                    font-weight: bold;
                  }
                }
              }
            }
          }
          ul.common__nav {
            border-bottom: 1px solid rgba($darkgray, $alpha: 0.8)
          }
          ul.sp__nav {
          }
        }
        input#user_menu {
          position: absolute;
          left: -50vw;
          &:checked ~ nav.pc__nav--user {
            right: 30px;
            }
            &:checked ~ .user__back {
              position: absolute;
              height: 100vh;
              width: 100%;
              right: 0%;
              transition: all 0.1s;
            }
        }
        label.user__open {
          @include margin(0, 20px, 0, 20px);
          i.fas.fa-user-alt {
            color: $darkgray;
            @include awesome;
            font-size: 3rem;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        label.user__back {
        }
        nav.pc__nav--user {
          height: 400px;
          width: 15%;
          position: absolute;
          transition: all 0s;
          right: -100vw;
          background-color: $white;
          top: 100%;
          border-radius: 15px;
          border: 1px solid $darkgray;
          label.user__close {
            height: 50px;
            width: 50px;
            display: flex;
            @include margin(0, 0, 30px, 0);
            i.fas.fa-times {
              cursor: pointer;
              height: 50px;
              width: 50px;
              text-align: center;
              line-height: 50px;
              display: inline-block;
              outline: none;
              color: $darkgray;
              font-size: 2.3rem;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            @include margin(0, 0, 30px, 0);
            @include padding(0, 15px, 0, 15px);
            li {
              @include margin(0px, 0, 15px, 0px);
              height: 30px;
              line-height: 30px;
              a {
                height: 100%;
                width: 100%;
                @include link($darkgray);
                display: inline-block;
                .nav__link {
                  height: 100%;
                  p {
                    font-weight: bold;
                  }
                }
                &:hover {
                  background-color: rgba($darkgray, $alpha: 0.1);
                }
              }
            }
          }
          ul.common__nav {
            border-bottom: 1px solid rgba($darkgray, $alpha: 0.8)
          }
          ul.sp__nav {
          }
        } 
      }
    }
  }
}