@import "../../main.scss";



@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
  .move__btn {
    @include padding(0, 0, 15px, 0);
    .js-btn {
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-color: $darkgray;
      position: absolute;
      opacity: 0.9;
      color: $white;
      top: 3%;
      cursor: pointer;
      i {
        position: absolute;
      }
    }
    .btn--left {
      .js-btn {
        right: 11%;
        i.fas.fa-chevron-left {
          right: 40%;
          top: 35%;
        }
      }
    }
    .btn--right {
      .js-btn {
        right: 5%;
        i.fas.fa-chevron-right {
          right: 35%;
          top: 35%;
        }
      }
    }
  }
}