@import "../../main.scss";


@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
  ul.shop__box {
    @include content-box;
    overflow: scroll;
    // flex-wrap: wrap;
    margin-top: 15px;
    justify-content: start;
    a {
      @include link;
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      li {
        height: 250px;
        width: 245px;
        border-radius: 20px;
        margin-bottom: 10px;
        .shop__wrapper {
          height: 100%;
          .shop__img {
            height: 65%;
            img {
              border-radius: 20px 20px 0 0;
              height: 100%;
              width: 100%;
            }
          }
          .shop__info {
            &__deco {
              display: flex;
              .shop__review {
                i.fas.fa-star {
                  color: $plum;
                }
                span {
                }
              }
              .shop__tag {
                i {
                }
              }
            }
            &__basic {
              overflow: hidden;
              .shop__name {
                h2 {
                  font-size: 1rem;
                }
              }
              .shop__about {
                display: flex;
                align-items: baseline;
                .shop__place {
                  .address {
                    @include word-el;
                    span {
                    }
                  }
                }
              }
              .shop__budget {
                span {
                }
              }
            }
          }
        }
      }
    }
  }
}