@import "../../main.scss";


@media screen and (min-width: 960px) {
  // PC用のレスポンシブ
  ul.shop__box {
    @include content-box;
    flex-wrap: wrap;
    justify-content: start;
    a {
      @include link;
      @include margin(10px, 5px, 10px, 5px);
      li {
        height: 250px;
        width: 250px;
        border-radius: 20px;
        @include margin(0px, 0px, 15px, 0px);
        .shop__wrapper {
          height: 100%;
          .shop__img {
            height: 65%;
            img {
              border-radius: 20px 20px 0 0;
              height: 100%;
              width: 100%;
            }
          }
          .shop__info {
            @include padding(5px, 5px, 5px, 5px);
            &__deco {
              @include margin(0px, 0px, 3px, 0px);
              display: flex;
              .shop__review {
                @include margin(0, 10px, 0, 0);
                i.fas.fa-star {
                  color: $plum;
                }
                span {
                  color: $darkgray;
                  padding: 2px;
                  font-size: 0.9rem;
                }
              }
              .shop__tag {
                i.fas.fa-tag {
                  color: $darkgray;
                }
                span {
                  color: $darkgray;
                  font-size: 0.9rem;
                }
              }
            }
            &__basic {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              .shop__name {
                @include margin(0px, 0px, 3px, 0px);
                h2 {
                  font-size: 1rem;
                }
              }
              .shop__about {
                @include margin(0px, 0px, 3px, 0px);
                display: flex;
                align-items: baseline;
                .shop__place {
                  .address {
                    @include word-el;
                    span {
                      @include mobile-fsz;
                    }
                  }
                }
              }
              .shop__budget {
                @include margin(0px, 0px, 3px, 0px);
                span {
                }
              }
            }
          }
        }
      }
      &:hover {
        @include link-hover;
      }
    }
  }
}