@import "../main.scss";

@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .help__wrapper {
    height: 100%;
    width: 100%;
    @include padding(80px, 0px, 0px, 0px);
    .help__top {
      height: 100px;
      text-align: center;
      border-bottom: 1px solid rgba($darkgray, $alpha: 0.3);
      h1 {
        @include padding(20px, 0px, 15px, 0px);
        @include mobile-ttl;
      }
      p {
        @include mobile-fsz;
        @include padding(0, 20px, 0, 20px);
      }
    }
    .tab__wrapper {
      width: 100%;
      @include padding(10px, 10px, 20px, 10px);
      .tab__nav {
        display: flex;
        border-bottom: 1px solid rgba($darkgray, $alpha: 0.3);
        a.nav__item {
          @include padding(10px, 0px, 10px, 0px);
          @include margin(10px, 5px, 0px, 5px);
          border-radius: 10px 10px 0 0;
          background-color: white;
          color: black;
          text-decoration: none;
          @include mobile-fsz;
          &:hover {
            border-left: 3px solid $plum;
          }
        }
        a.nav__item.is-active {
          background-color: $plum;
          color: white;
        }
      }
      .tab__contents {
        border: 1px solid $darkgray;
        @include padding(20px, 10px, 20px, 10px);
        .tab__contents--item {
          display: none;
          .accordion__wrapper {
            .accordion {
              a.accordion__trigger {
                display: flex;
                text-decoration: none;
                @include padding(10px, 10px, 10px, 10px);
                @include margin(0px, 0px, 15px, 0px);
                &:active {
                  opacity: 0.7;
                }
                i.fas.fa-chevron-down {
                  color: $plum;
                }
                p {
                  color: black;
                  @include padding(0px, 0px, 0px, 10px);
                }
              }
              .accordion__content {
                display: none;
                @include padding(15px, 10px, 10px, 10px);
                @include margin(0px, 0px, 20px, 0px);
                border-bottom: 1px solid gray;
                .answer {
                  line-height: 1.3rem;
                  font-size: 0.9rem;
                  p {
                    span {
                    }
                  }
                  ol {
                    @include padding(5px, 0px, 10px, 30px);
                    li {
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}