@import "../main.scss";

@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .wrapper {
    .main__wrapper#user__wrapper {
      @include padding(0, 0, 30px, 0);
      .form__wrapper {
        height: 100%;
        .signup__logo {
          height: 100px;
          width: 150px;
          @include margin(20px, auto, 15px, auto);
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .form__ttl {
          text-align: center;
          @include margin(0px, 0px, 20px, 0px);
          h1 {
            font-size: 1.5rem;
          }
          p {
          }
        }
        .user__info__form {
          .announce {
            height: 20px;
            width: 300px;
            display: flex;
            text-align: center;
            margin: 0 auto;
            i.fas.fa-exclamation-circle {
              color: $plum;
            }
            p {
              font-size: 13px;
              line-height: 20px;
              a {
                text-decoration: none;
              }
            }
          }
          .other__form__link {
            margin-top: 30px;
            p {
              text-align: center;
            }
            .jump__btn {
              text-align: center;
              margin-top: 10px;
              a {
                @include link;
                color: $plum;
              }
            }
            .ps__reset__link {
              @include margin(20px, 0, 0, 0);
              p {
              }
              .ps__reset__btn {
                @include margin(10px, 0, 0, 0);
                a {
                  @include link;
                  p {
                    @include mobile-fsz;
                    color: $plum;
                  }
                }
              }
            }
          }
        }
      }
    }
    .signup__wrapper {
      @include margin(0, 0, 50px, 0);
    }
    .login__wrapper {
      @include padding(0px);
    }
    .edit__wrapper {
      @include padding(0px);
    }
    .ps-reset__wrapper {
      @include padding(0px);
    }
  }
}