@import "../main.scss";

@media screen and (max-width: 559px) {
  // Mobile用のレスポンシブ
  .wrapper {
    .main__wrapper {
      .form__wrapper {
        height: 100%;
        .signup__logo {
          height: 100px;
          width: 150px;
          margin-top: 30px;
          margin-right: auto;
          margin-bottom: 15px;
          margin-left: auto;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .form__ttl {
          text-align: center;
          margin-bottom: 15px;
          h1 {
            font-size: 1.5rem;
          }
          p {
          }
        }
        .user__info__form {
          .announce {
            height: 20px;
            width: 300px;
            display: flex;
            text-align: center;
            margin: 0 auto;
            i.fas.fa-exclamation-circle {
              color: $plum;
            }
            p {
              font-size: 13px;
              line-height: 20px;
              a {
                text-decoration: none;
              }
            }
          }
          .other__form__link {
            margin-top: 30px;
            p {
              text-align: center;
            }
            .jump__btn {
              text-align: center;
              margin-top: 10px;
              a {
                @include link;
                color: $plum;
              }
            }
          }
        }
      }
    }
    .signup__wrapper {
      @include margin(0, 0, 50px, 0);
    }
    .login__wrapper {
      @include padding(80px);
    }
    .edit__wrapper {
      @include padding(80px);
    }
  }
}