<%# mobile用のfooter %>
<%# <footer>
  <div class="ft__wrapper">
    <div class="ft__nav">
      <ul>
        <li>
          <div class="ft__btn__wrapper">
            <a href="">
              <div class="nav__btn">
                <i class="fas fa-search"></i>
                <p>探す</p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__btn__wrapper">
            <a href="">
              <div class="nav__btn">
                <i class="far fa-heart"></i>
                <p>お気に入り</p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__btn__wrapper">
            <a href="">
              <div class="nav__btn">
                <i class="fas fa-book-open"></i>
                <p>一覧</p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__btn__wrapper">
            <a href="">
              <div class="nav__btn">
                <i></i>
                <p></p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__btn__wrapper">
            <a href="">
              <div class="nav__btn">
                <i class="fas fa-user"></i>
                <p>プロフィール</p>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer> %>

<%# pc版のfooter %>
<footer>
  <div class="ft__wrapper">
    <div class="ft__nav">
      <ul class="nav__list">
        <li>
          <div class="ft__nav__how">
            <a href="">
              <div class="app__info">
                <p>アプリのご利用方法</p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__nav__rule">
            <a href="">
              <div class="rule">
                <p>利用規約</p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__nav__privacy">
            <a href="">
              <div class="privacy">
                <p>プライバシー・ポリシー</p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="ft__nav__query">
            <a href="">
              <div class="query">
                <p>お問い合わせ</p>
              </div>
            </a>
          </div>
        </li>
      </ul>
      <div class="copy__write">
        <p>2020 nil inc ©️</p>
      </div>
    </div>
  </div>
</footer>