<%# トプページのheader %>
<header>
  <div class="hd__wrapper">
    <div class="hd__logo">
      <a href="">
        <%= image_tag "apple_logo.jpeg" %>
      </a>
    </div>
    <div class="hd__search__box">
      <form action="" name="" method="post">
        <input id="" type="search" name="" placeholder="キーワード">
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <div class="hd__nav">
      <ul>
        <li>
          <a href="">
            <i class="fas fa-bars"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i></i>
          </a>
        </li>
      </ul>
    </div class="hd__nav">
  </div>
</header>

<%# カテゴリで検索している時のheader
<header>
  <div class="hd__wrapper">
    <div class="back__icon">
      <a href=""></a>
    </div>
    <div class="search__box">
      <form action="" method="post">
        <input type="search" placeholder="キーワード">
      </form>
    </div>
    <div class="filter__btn">
      <div></div>
    </div>
  </div>
</header>

お店の詳細ページでのheader
<header>
  <div class="hd__wrapper">
    <div class="back__btn">
      <a href=""></a>
    </div>
    <div class="shere__btn">
      <a href=""></a>
    </div>
    <div class="like__btn">
      <a href=""></a>
    </div>
  </div>
</header> %>