<%# トプページのheader %>
<header>
  <div class="hd__wrapper">
    <div class="hd__logo">
      <a href="">
        <img src="" alt="header-logo">
      </a>
    </div>
    <div class="hd__serach__box">
      <form action="" method="post">
        <input type="search" placeholder="行き先はどちらですか？">
      </form>
    </div>
    <div class="hd__nav">
      <ul>
        <li>
          <a href="">
          </a>
        </li>
        <li>
          <a href="">
          </a>
        </li>
      </ul>
    </div class="hd__nav">
  </div>
</header>

<%# カテゴリで検索している時のheader %>
<header>
  <div class="hd__wrapper">
    <div class="back__icon">
      <a href=""></a>
    </div>
    <div class="search__box">
      <form action="" method="post">
        <input type="search" placeholder="キーワード">
      </form>
    </div>
    <div class="filter__btn">
      <div></div>
    </div>
  </div>
</header>

<%# お店の詳細ページでのheader %>
<header>
  <div class="hd__wrapper">
    <div class="back__btn">
      <a href=""></a>
    </div>
    <div class="shere__btn">
      <a href=""></a>
    </div>
    <div class="like__btn">
      <a href=""></a>
    </div>
  </div>
</header>