<div class="search__box">
  <%= form_with(scope: :search, url: categories_path, class: "search_form", method: "get", local: true) do |f| %>
    <%= f.text_field :name, value: @search_params[:name], placeholder: "キーワード" %>
    <button>
      <i class="fas fa-search">
        <%= f.submit "" %>
      </i>
    </button>
  <% end %>
</div>